/** prettier-ignore: 0 */
[data-prefers-color-scheme='dark'] {
  --tbdx-accent-orange-0: hsl(32, 61%, 96%);
  --tbdx-accent-orange-1: hsl(32, 61%, 91%);
  --tbdx-accent-orange-2: hsl(32, 61%, 85%);
  --tbdx-accent-orange-3: hsl(32, 61%, 78%);
  --tbdx-accent-orange-4: hsl(32, 61%, 70%);
  --tbdx-accent-orange-5: hsl(32, 61%, 61%);
  --tbdx-accent-orange-6: hsl(32, 61%, 51%);
  --tbdx-accent-orange-7: hsl(32, 61%, 40%);
  --tbdx-accent-orange-8: hsl(32, 61%, 28%);
  --tbdx-accent-orange-9: hsl(32, 61%, 16%);

  --tbdx-accent-yellow-0: hsl(57, 61%, 96%);
  --tbdx-accent-yellow-1: hsl(57, 61%, 91%);
  --tbdx-accent-yellow-2: hsl(57, 61%, 85%);
  --tbdx-accent-yellow-3: hsl(57, 61%, 78%);
  --tbdx-accent-yellow-4: hsl(57, 61%, 70%);
  --tbdx-accent-yellow-5: hsl(57, 61%, 61%);
  --tbdx-accent-yellow-6: hsl(57, 61%, 51%);
  --tbdx-accent-yellow-7: hsl(57, 61%, 40%);
  --tbdx-accent-yellow-8: hsl(57, 61%, 28%);
  --tbdx-accent-yellow-9: hsl(57, 61%, 16%);

  --tbdx-accent-green-0: hsl(140, 61%, 96%);
  --tbdx-accent-green-1: hsl(140, 61%, 91%);
  --tbdx-accent-green-2: hsl(140, 61%, 85%);
  --tbdx-accent-green-3: hsl(140, 61%, 78%);
  --tbdx-accent-green-4: hsl(140, 61%, 70%);
  --tbdx-accent-green-5: hsl(140, 61%, 61%);
  --tbdx-accent-green-6: hsl(140, 61%, 51%);
  --tbdx-accent-green-7: hsl(140, 61%, 40%);
  --tbdx-accent-green-8: hsl(140, 61%, 28%);
  --tbdx-accent-green-9: hsl(140, 61%, 16%);

  --tbdx-accent-cyan-0: hsl(198, 61%, 96%);
  --tbdx-accent-cyan-1: hsl(198, 61%, 91%);
  --tbdx-accent-cyan-2: hsl(198, 61%, 85%);
  --tbdx-accent-cyan-3: hsl(198, 61%, 78%);
  --tbdx-accent-cyan-4: hsl(198, 61%, 70%);
  --tbdx-accent-cyan-5: hsl(198, 61%, 61%);
  --tbdx-accent-cyan-6: hsl(198, 61%, 51%);
  --tbdx-accent-cyan-7: hsl(198, 61%, 40%);
  --tbdx-accent-cyan-8: hsl(198, 61%, 28%);
  --tbdx-accent-cyan-9: hsl(198, 61%, 16%);

  --tbdx-accent-blue-0: hsl(217, 61%, 96%);
  --tbdx-accent-blue-1: hsl(217, 61%, 91%);
  --tbdx-accent-blue-2: hsl(217, 61%, 85%);
  --tbdx-accent-blue-3: hsl(217, 61%, 78%);
  --tbdx-accent-blue-4: hsl(217, 61%, 70%);
  --tbdx-accent-blue-5: hsl(217, 61%, 61%);
  --tbdx-accent-blue-6: hsl(217, 61%, 51%);
  --tbdx-accent-blue-7: hsl(217, 61%, 40%);
  --tbdx-accent-blue-8: hsl(217, 61%, 28%);
  --tbdx-accent-blue-9: hsl(217, 61%, 16%);

  --tbdx-accent-indigo-60: hsl(234, 61%, 96%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 91%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 85%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 78%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 70%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 61%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 51%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 40%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 28%);
  --tbdx-accent-indigo-60: hsl(234, 61%, 16%);

  --tbdx-accent-purple-60: hsl(257, 61%, 96%);
  --tbdx-accent-purple-60: hsl(257, 61%, 91%);
  --tbdx-accent-purple-60: hsl(257, 61%, 85%);
  --tbdx-accent-purple-60: hsl(257, 61%, 78%);
  --tbdx-accent-purple-60: hsl(257, 61%, 70%);
  --tbdx-accent-purple-60: hsl(257, 61%, 61%);
  --tbdx-accent-purple-60: hsl(257, 61%, 51%);
  --tbdx-accent-purple-60: hsl(257, 61%, 40%);
  --tbdx-accent-purple-60: hsl(257, 61%, 28%);
  --tbdx-accent-purple-60: hsl(257, 61%, 16%);

  --tbdx-accent-violet-60: hsl(267, 61%, 96%);
  --tbdx-accent-violet-60: hsl(267, 61%, 91%);
  --tbdx-accent-violet-60: hsl(267, 61%, 85%);
  --tbdx-accent-violet-60: hsl(267, 61%, 78%);
  --tbdx-accent-violet-60: hsl(267, 61%, 70%);
  --tbdx-accent-violet-60: hsl(267, 61%, 61%);
  --tbdx-accent-violet-60: hsl(267, 61%, 51%);
  --tbdx-accent-violet-60: hsl(267, 61%, 40%);
  --tbdx-accent-violet-60: hsl(267, 61%, 28%);
  --tbdx-accent-violet-60: hsl(267, 61%, 16%);

  --tbdx-accent-pink-60: hsl(302, 61%, 96%);
  --tbdx-accent-pink-60: hsl(302, 61%, 91%);
  --tbdx-accent-pink-60: hsl(302, 61%, 85%);
  --tbdx-accent-pink-60: hsl(302, 61%, 78%);
  --tbdx-accent-pink-60: hsl(302, 61%, 70%);
  --tbdx-accent-pink-60: hsl(302, 61%, 61%);
  --tbdx-accent-pink-60: hsl(302, 61%, 51%);
  --tbdx-accent-pink-60: hsl(302, 61%, 40%);
  --tbdx-accent-pink-60: hsl(302, 61%, 28%);
  --tbdx-accent-pink-60: hsl(302, 61%, 16%);

  --tbdx-accent-magenta-60: hsl(333, 61%, 96%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 91%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 85%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 78%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 70%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 61%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 51%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 40%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 28%);
  --tbdx-accent-magenta-60: hsl(333, 61%, 16%);

  --tbdx-accent-red-60: hsl(356, 61%, 96%);
  --tbdx-accent-red-60: hsl(356, 61%, 91%);
  --tbdx-accent-red-60: hsl(356, 61%, 85%);
  --tbdx-accent-red-60: hsl(356, 61%, 78%);
  --tbdx-accent-red-60: hsl(356, 61%, 70%);
  --tbdx-accent-red-60: hsl(356, 61%, 61%);
  --tbdx-accent-red-60: hsl(356, 61%, 51%);
  --tbdx-accent-red-60: hsl(356, 61%, 40%);
  --tbdx-accent-red-60: hsl(356, 61%, 28%);
  --tbdx-accent-red-60: hsl(356, 61%, 16%);
}
