.Page,
.Page--default,
.Page--sandbox {
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  isolation: isolate;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: var(--tbdx-font-size-04);
}

.Page--default {
  min-height: 300vh;
  /* TEMPORARY */

  width: 100%;
  display: block;

  .Page-hero,
  .Page-footer,
  .Page-content {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1rem;
    margin-inline: auto;
    max-width: 100em;
  }

  .Page-hero {
    min-height: 16rem;
    justify-content: flex-end;
    padding-top: 2rem;

    &-title {
      display: block;
      font-size: var(--tbdx-font-size-11);
    }
  }

  .Page-content {
    padding-block: 1rem;
    justify-content: flex-start;
  }

  .Page-footer-menu {
    // gap: 2px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    &-item {
      width: 100%;
      padding-block: 0.4rem;
      padding-inline: 0.8rem;
      color: var(--tbdx-surface-68);
      background-color: var(--tbdx-surface-08);
      position: relative;
      margin: 1.5px;

      transition:
        background-color 170ms ease-out,
        outline-color 170ms ease-out,
        border-color 170ms ease-out,
        color 170ms ease-out;

      &:hover {
        color: var(--tbdx-surface-100);
        background-color: var(--tbdx-surface-10);

        &::before {
          content: '';
          top: 0;
          left: 0;
          bottom: 0;
          background: var(--tbdx-blue-60);
          position: absolute;
          height: 100%;
          width: 2px;
        }
      }
    }
  }
}
