.tbdx-page {
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;
  font-family: 'GeneralSans-Regular';
  font-size: var(--tbdx-font-size-4);
}

.tbdx-page--default {
  display: block;
  max-width: 100%;
  min-height: 100vh;

  .tbdx-page-hero,
  .tbdx-page-header,
  .tbdx-page-footer,
  .tbdx-page-content {
    padding-inline: var(--tbdx-spacing-6);
    margin-inline: auto;
    max-width: 100em;
  }

  .tbdx-page-content {
    min-height: 25vh;
  }

  .tbdx-page-hero {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-block: var(--tbdx-spacing-6);
  }

  .tbdx-page-title {
    display: block;
    margin-top: 10rem;
    font-size: var(--tbdx-font-size-10);
  }
}
