.tbdx-page {
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  isolation: isolate;
  box-sizing: border-box;
  font-family: 'GeneralSans-Regular';
  font-size: var(--tbdx-font-size-4);
}

.tbdx-page--default {
  display: block;
  max-width: 100%;
  min-height: 100vh;

  .tbdx-page-hero,
  .tbdx-page-header,
  .tbdx-page-footer,
  .tbdx-page-content {
    padding-inline: var(--tbdx-spacing-6);
    margin-inline: auto;
    max-width: 100em;
  }

  .tbdx-page-content {
    min-height: 25vh;
  }

  .tbdx-page-hero {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-block: var(--tbdx-spacing-6);
  }

  .tbdx-page-title {
    display: block;
    margin-top: 10rem;
    font-size: var(--tbdx-font-size-10);
  }

  .tbdx-page-footer {
    display: flex;
    flex-direction: row;
  }

  // TEMPORARY COMPONENTS

  .tbdx-sitemap {
    gap: 1rem;
    width: 100%;
    display: grid;
    place-content: start;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    &-group {
      width: 100%;
      display: grid;
      place-content: start;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      font-size: var(--tbdx-font-size-4);

      &-title {
        font-size: var(--tbdx-font-size-6);
        margin-bottom: 0.4rem;
      }

      &-divider {
        background-color: grey;
        height: 1.5px;
        width: 100%;
      }

      &-content {
        gap: 0.4rem;
        color: lightgray;
        width: 100%;
        margin-top: 0.6rem;
        display: grid;
        place-content: start;
        grid-template-rows: repeat(1, minmax(0, 1fr));
        grid-template-columns: repeat(1, minmax(0, 1fr));
        font-size: var(--tbdx-font-size-4);
      }
    }
  }
}
