.tbdx-swatch {
  padding-block: 1rem;
  padding-inline: 1rem;
  transition:
    background-color 170ms ease-out,
    outline-color 170ms ease-out,
    border-color 170ms ease-out,
    color 170ms ease-out;
}

.tbdx-swatch-group {
  display: grid;
  gap: 0.4rem;
}

.tbdx-swatch-gallery-header {
  display: block;
  margin-block: 1rem;

  .Title {
    font-size: var(--tbdx-font-size-9);
  }
}

.tbdx-swatch-gallery-content {
  gap: 0.4rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 40rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 80rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.tbdx-sitemap {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);

  &-title {
    color: var(--tbdx-surface-invert-4);
    font-size: var(--tbdx-font-size-6);
    padding-block: var(--tbdx-spacing-4);
  }

  &-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--tbdx-spacing-6);
  }
}

.tbdx-sitemap-group {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--tbdx-spacing-3);

  &-title {
    color: var(--tbdx-surface-invert-4);
    font-size: var(--tbdx-font-size-6);
    padding-block: var(--tbdx-spacing-4);
  }

  &-divider {
    width: 100%;
    height: calc(var(--tbdx-spacing-1) / 2);
    background-color: var(--tbdx-surface-base-6);
  }

  .Link {
    color: var(--tbdx-surface-invert-9);
    font-size: var(--tbdx-font-size-6);
  }
}

.tbdx-quick-links-menu {
  display: block;
  padding-block: var(--tbdx-spacing-6);
}

.tbdx-button-gallery {
  &-title {
    line-height: 1;
    font-size: var(--tbdx-font-size-6);
    padding-block: var(--tbdx-spacing-4);
  }
  &-divider {
    width: 100%;
    height: calc(var(--tbdx-spacing-1) / 2);
    background-color: var(--tbdx-surface-base-6);
  }
  &-content {
    padding-block: var(--tbdx-spacing-4);
  }
}
