$font-xlt: 'GeneralSans-Extralight';
$font-lgt: 'GeneralSans-Light';
$font-reg: 'GeneralSans-Regular';
$font-med: 'GeneralSans-Medium';
$font-bld: 'GeneralSans-Semibold';
$font-xbd: 'GeneralSans-Bold';

$font-xlt-ital: 'GeneralSans-ExtralightItalic';
$font-lgt-ital: 'GeneralSans-LightItalic';
$font-reg-ital: 'GeneralSans-Italic';
$font-med-ital: 'GeneralSans-MediumItalic';
$font-bld-ital: 'GeneralSans-BoldItalic';
$font-xbd-ital: 'GeneralSans-SemiboldItalic';
