$scale: 1;

$breakpoint-xs: 36em;
$breakpoint-sm: 48em;
$breakpoint-md: 62em;
$breakpoint-lg: 75em;
$breakpoint-xl: 88em;

$border-xs: 1px;
$border-sm: 2px;
$border-md: 3px;
$border-lg: 4px;
$border-xl: 5px;

$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-xl: 12px;
$radius-rd: 1000px;

$font-family-xlt: 'GeneralSans-Extralight';
$font-family-lgt: 'GeneralSans-Light';
$font-family-reg: 'GeneralSans-Regular';
$font-family-med: 'GeneralSans-Medium';
$font-family-bld: 'GeneralSans-Semibold';
$font-family-xbd: 'GeneralSans-Bold';

$font-family-xlt-ital: 'GeneralSans-ExtralightItalic';
$font-family-lgt-ital: 'GeneralSans-LightItalic';
$font-family-reg-ital: 'GeneralSans-Italic';
$font-family-med-ital: 'GeneralSans-MediumItalic';
$font-family-bld-ital: 'GeneralSans-BoldItalic';
$font-family-xbd-ital: 'GeneralSans-SemiboldItalic';

:root {
  --tbdx-scale: 1;

  --tbdx-breakpoint-xs: 36em;
  --tbdx-breakpoint-sm: 48em;
  --tbdx-breakpoint-md: 62em;
  --tbdx-breakpoint-lg: 75em;
  --tbdx-breakpoint-xl: 88em;

  --tbdx-border-xs: 1px;
  --tbdx-border-sm: 2px;
  --tbdx-border-md: 3px;
  --tbdx-border-lg: 4px;
  --tbdx-border-xl: 5px;

  --tbdx-radius-xs: 2px;
  --tbdx-radius-sm: 4px;
  --tbdx-radius-md: 6px;
  --tbdx-radius-lg: 8px;
  --tbdx-radius-xl: 12px;
  --tbdx-radius-rd: 1000px;

  --tbdx-font-family-xlt: 'GeneralSans-Extralight';
  --tbdx-font-family-lgt: 'GeneralSans-Light';
  --tbdx-font-family-reg: 'GeneralSans-Regular';
  --tbdx-font-family-med: 'GeneralSans-Medium';
  --tbdx-font-family-bld: 'GeneralSans-Semibold';
  --tbdx-font-family-xbd: 'GeneralSans-Bold';

  --tbdx-font-family-xlt-italic: 'GeneralSans-ExtralightItalic';
  --tbdx-font-family-lgt-italic: 'GeneralSans-LightItalic';
  --tbdx-font-family-reg-italic: 'GeneralSans-Italic';
  --tbdx-font-family-med-italic: 'GeneralSans-MediumItalic';
  --tbdx-font-family-bld-italic: 'GeneralSans-BoldItalic';
  --tbdx-font-family-xbd-italic: 'GeneralSans-SemiboldItalic';

  --tbdx-font-size-01: calc(10px * var(--tbdx-scale));
  --tbdx-font-size-02: calc(12px * var(--tbdx-scale));
  --tbdx-font-size-03: calc(14px * var(--tbdx-scale));
  --tbdx-font-size-04: calc(16px * var(--tbdx-scale));
  --tbdx-font-size-05: calc(20px * var(--tbdx-scale));
  --tbdx-font-size-06: calc(24px * var(--tbdx-scale));
  --tbdx-font-size-07: calc(28px * var(--tbdx-scale));
  --tbdx-font-size-08: calc(32px * var(--tbdx-scale));
  --tbdx-font-size-09: calc(40px * var(--tbdx-scale));
  --tbdx-font-size-10: calc(68px * var(--tbdx-scale));

  --tbdx-spacing-x-01: calc(2px * var(--tbdx-scale));
  --tbdx-spacing-x-02: calc(4px * var(--tbdx-scale));
  --tbdx-spacing-x-03: calc(6px * var(--tbdx-scale));
  --tbdx-spacing-x-04: calc(8px * var(--tbdx-scale));
  --tbdx-spacing-x-05: calc(10px * var(--tbdx-scale));
  --tbdx-spacing-x-06: calc(12px * var(--tbdx-scale));
  --tbdx-spacing-x-07: calc(16px * var(--tbdx-scale));
  --tbdx-spacing-x-08: calc(20px * var(--tbdx-scale));
  --tbdx-spacing-x-09: calc(24px * var(--tbdx-scale));
  --tbdx-spacing-x-10: calc(32px * var(--tbdx-scale));

  --tbdx-spacing-y-01: calc(2px * var(--tbdx-scale));
  --tbdx-spacing-y-02: calc(4px * var(--tbdx-scale));
  --tbdx-spacing-y-03: calc(6px * var(--tbdx-scale));
  --tbdx-spacing-y-04: calc(8px * var(--tbdx-scale));
  --tbdx-spacing-y-05: calc(10px * var(--tbdx-scale));
  --tbdx-spacing-y-06: calc(12px * var(--tbdx-scale));
  --tbdx-spacing-y-07: calc(16px * var(--tbdx-scale));
  --tbdx-spacing-y-08: calc(20px * var(--tbdx-scale));
  --tbdx-spacing-y-09: calc(24px * var(--tbdx-scale));
  --tbdx-spacing-y-10: calc(32px * var(--tbdx-scale));
}
