@use '../mixins/resets' as resets;
@use '../mixins/themes' as themes;
@use '../mixins/attributes' as attributes;
@use '../mixins/interactions' as interactions;

@layer reset {
  .Button {
    @include resets.static;
  }
}

.Button {
  @include interactions.focus;
  @include interactions.cursor;

  --button-height-xs: calc(var(--unit) * 16);
  --button-height-sm: calc(var(--unit) * 20);
  --button-height-md: calc(var(--unit) * 24);
  --button-height-lg: calc(var(--unit) * 28);
  --button-height-xl: calc(var(--unit) * 32);

  --button-padding-x-xs: calc(var(--unit) * 4);
  --button-padding-x-sm: calc(var(--unit) * 8);
  --button-padding-x-md: calc(var(--unit) * 12);
  --button-padding-x-lg: calc(var(--unit) * 16);
  --button-padding-x-xl: calc(var(--unit) * 20);

  --button-label-size-xs: calc(var(--unit) * 5);
  --button-label-size-sm: calc(var(--unit) * 6);
  --button-label-size-md: calc(var(--unit) * 7);
  --button-label-size-lg: calc(var(--unit) * 8);
  --button-label-size-xl: calc(var(--unit) * 9);

  cursor: default;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid var(--unit) transparent;
  outline: solid var(--unit) transparent;
  height: var(--button-height, var(--button-height-sm));
  font-size: var(--button-label-size, var(--button-label-size-xs));
  padding-inline: var(--button-padding-x, var(--button-padding-x-sm));
  line-height: 1;

  @include attributes.prop('size', 'xs') {
    --button-height: var(--button-height-xs);
    --button-padding-x: var(--button-padding-x-xs);
    --button-label-size: var(--button-label-size-xs);
  }

  @include attributes.prop('size', 'sm') {
    --button-height: var(--button-height-sm);
    --button-padding-x: var(--button-padding-x-sm);
    --button-label-size: var(--button-label-size-sm);
  }

  @include attributes.prop('size', 'md') {
    --button-height: var(--button-height-md);
    --button-padding-x: var(--button-padding-x-md);
    --button-label-size: var(--button-label-size-md);
  }

  @include attributes.prop('size', 'lg') {
    --button-height: var(--button-height-lg);
    --button-padding-x: var(--button-padding-x-lg);
    --button-label-size: var(--button-label-size-lg);
  }

  @include attributes.prop('size', 'xl') {
    --button-height: var(--button-height-xl);
    --button-padding-x: var(--button-padding-x-xl);
    --button-label-size: var(--button-label-size-xl);
  }

  @include attributes.prop('theme', 'default') {
    @include themes.default-button;
  }
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
