@use '../tokens' as tokens;
@use '../colors' as colors;

.Tool,
.Close,
.Button {
  outline: 1.5px solid transparent;
  border: 1.5px solid transparent;

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: colors.$blue-60;
  }
}

.Button {
  user-select: none;
  display: inline-flex;
  align-items: center;
  padding: 0.8rem;
  line-height: 1;
  font-family: tokens.$font-family-reg;
  font-size: 1rem;
  font-weight: 400;

  &[data-block] {
    display: block;
  }

  &--xs {
    height: 2rem;
  }
  &--sm {
    height: 2.5rem;
  }
  &--md {
    height: 3rem;
  }
  &--lg {
    height: 3.5rem;
  }
  &--xl {
    height: 4rem;
  }
}

.Close {
}
.Tool {
}
