@use '../mixins/attributes' as attributes;
@use '../mixins/interactions' as interactions;

@layer reset {
  .Button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

@layer tokens {
  :root {
    --button-height-xs: var(--spacing-8);
    --button-height-sm: var(--spacing-9);
    --button-height-md: var(--spacing-10);
    --button-height-lg: var(--spacing-11);
    --button-height-xl: var(--spacing-12);

    --button-padding-x-xs: var(--spacing-5);
    --button-padding-x-sm: var(--spacing-6);
    --button-padding-x-md: var(--spacing-7);
    --button-padding-x-lg: var(--spacing-8);
    --button-padding-x-xl: var(--spacing-9);

    --button-label-size-xs: var(--fz-1);
    --button-label-size-sm: var(--fz-2);
    --button-label-size-md: var(--fz-3);
    --button-label-size-lg: var(--fz-4);
    --button-label-size-xl: var(--fz-5);
  }
}

.Button {
  @include interactions.cursor;
  @include interactions.focus;

  cursor: default;
  width: max-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid var(--unit) transparent;
  outline: solid var(--unit) transparent;
  height: var(--button-height, var(--button-height-sm));
  font-size: var(--button-label-size, var(--button-label-size-xs));
  padding-inline: var(--button-padding-x, var(--button-padding-x-sm));
  transition-timing-function: var(--easing-productive);
  transition-duration: var(--easing-duration-3);
  transition-property: var(--transition-color);
  line-height: 1;

  &:where([data-block]) {
    display: block;
    width: 100%;
  }

  &[data-size='xs'] {
    --button-height: var(--button-height-xs);
    --button-padding-x: var(--button-padding-x-xs);
    --button-label-size: var(--button-label-size-xs);
  }

  &[data-size='sm'] {
    --button-height: var(--button-height-sm);
    --button-padding-x: var(--button-padding-x-sm);
    --button-label-size: var(--button-label-size-sm);
  }

  &[data-size='md'] {
    --button-height: var(--button-height-md);
    --button-padding-x: var(--button-padding-x-md);
    --button-label-size: var(--button-label-size-md);
  }

  &[data-size='lg'] {
    --button-height: var(--button-height-lg);
    --button-padding-x: var(--button-padding-x-lg);
    --button-label-size: var(--button-label-size-lg);
  }

  &[data-size='xl'] {
    --button-height: var(--button-height-xl);
    --button-padding-x: var(--button-padding-x-xl);
    --button-label-size: var(--button-label-size-xl);
  }

  &[data-theme='default'] {
    color: var(--c-button-tt);

    &:not([data-disabled]),
    &:not([aria-disabled]) {
      background-color: var(--c-button-bb);
    }
    &:not([data-disabled]):hover,
    &:not([aria-disabled]):hover {
      background-color: var(--c-button-hh);
    }
    &:not([data-disabled]):active,
    &:not([aria-disabled]):active {
      background-color: var(--c-button-aa);
    }
    &[data-disabled],
    &[aria-disabled] {
      background-color: var(--c-button-dd);
    }
  }
}

.ButtonGroup {
  display: flex;

  @include attributes.orientation-v {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  @include attributes.orientation-h {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
