$cols-01: (1, 1, 1, 1, 1, 1, 1, 1, 1);
$cols-02: (1, 2, 2, 2, 2, 2, 2, 2, 2);
$cols-03: (1, 2, 3, 3, 3, 3, 3, 3, 3);
$cols-04: (1, 2, 3, 4, 4, 4, 4, 4, 4);
$cols-05: (1, 2, 3, 4, 5, 5, 5, 5, 5);
$cols-06: (1, 2, 3, 4, 5, 6, 6, 6, 6);
$cols-07: (1, 2, 3, 4, 5, 6, 7, 7, 7);
$cols-08: (1, 2, 3, 4, 5, 6, 7, 8, 8);
$cols-09: (1, 2, 3, 4, 5, 6, 7, 8, 9);

$grid-column-map: (
  1: $cols-01,
  2: $cols-02,
  3: $cols-03,
  4: $cols-04,
  5: $cols-05,
  6: $cols-06,
  7: $cols-07,
  8: $cols-08,
  9: $cols-09,
);

.Grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  // TEMPORARY
  &-sample-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    color: papayawhip;
    box-sizing: border-box;
    border-color: papayawhip;
    min-height: 100px;
    font-size: 20px;
  }

  &[data-grid-placement='end'] {
    place-content: end;
  }
  &[data-grid-placement='start'] {
    place-content: start;
  }
  &[data-grid-placement='center'] {
    place-content: center;
  }

  border: solid 4px;

  @media (min-width: 20em) {
    border-color: red;
  }
  @media (min-width: 30em) {
    border-color: coral;
  }
  @media (min-width: 40em) {
    border-color: orange;
  }
  @media (min-width: 50em) {
    border-color: gold;
  }
  @media (min-width: 60em) {
    border-color: yellow;
  }
  @media (min-width: 70em) {
    border-color: darkseagreen;
  }
  @media (min-width: 80em) {
    border-color: lightgreen;
  }
}

// 20em
// 40em
// 60em
// 80em
// 100em
// grid-template-columns: repeat(1, minmax(0, 1fr));
