@use '../tokens' as tokens;
@use '../colors' as colors;

.InlineInput {
  --inline-input-display: flex;

  --toggle-input-height-xs: 16px;
  --toggle-input-height-sm: 20px;
  --toggle-input-height-md: 24px;
  --toggle-input-height-lg: 30px;
  --toggle-input-height-xl: 36px;

  --toggle-thumb-height-xs: 14px;
  --toggle-thumb-height-xs: 18px;
  --toggle-thumb-height-xs: 22px;
  --toggle-thumb-height-xs: 28px;
  --toggle-thumb-height-xs: 34px;

  --checkbox-input-height-xs: 16px;
  --checkbox-input-height-sm: 20px;
  --checkbox-input-height-md: 24px;
  --checkbox-input-height-lg: 30px;
  --checkbox-input-height-xl: 36px;

  --checkbox-thumb-height-xs: 14px;
  --checkbox-thumb-height-xs: 18px;
  --checkbox-thumb-height-xs: 22px;
  --checkbox-thumb-height-xs: 28px;
  --checkbox-thumb-height-xs: 34px;

  width: 100%;
  user-select: none;
  display: var(--inline-input-display);
  align-items: center;
}

.Checkbox {
  &--xs {
    font-size: var(--font-size-01);
    height: var(--checkbox-input-height-xs);
  }
  &--sm {
    font-size: var(--font-size-01);
    height: var(--checkbox-input-height-sm);
  }
  &--md {
    font-size: var(--font-size-01);
    height: var(--checkbox-input-height-md);
  }
  &--lg {
    font-size: var(--font-size-01);
    height: var(--checkbox-input-height-lg);
  }
  &--xl {
    font-size: var(--font-size-01);
    height: var(--checkbox-input-height-xl);
  }
}

.Toggle {
  &--xs {
    font-size: var(--font-size-01);
    height: var(--toggle-input-height-xs);
    .Thumb {
      width: var(--toggle-thumb-height-xs);
      height: var(--toggle-thumb-height-xs);
    }
  }
  &--sm {
    font-size: var(--font-size-01);
    height: var(--toggle-input-height-sm);
    .Thumb {
      width: var(--toggle-thumb-height-sm);
      height: var(--toggle-thumb-height-sm);
    }
  }
  &--md {
    font-size: var(--font-size-01);
    height: var(--toggle-input-height-md);
    .Thumb {
      width: var(--toggle-thumb-height-md);
      height: var(--toggle-thumb-height-md);
    }
  }
  &--lg {
    font-size: var(--font-size-01);
    height: var(--toggle-input-height-lg);
    .Thumb {
      width: var(--toggle-thumb-height-lg);
      height: var(--toggle-thumb-height-lg);
    }
  }
  &--xl {
    font-size: var(--font-size-01);
    height: var(--toggle-input-height-xl);
    .Thumb {
      width: var(--toggle-thumb-height-xl);
      height: var(--toggle-thumb-height-xl);
    }
  }
}
