@use '../tokens' as tokens;
@use '../colors' as colors;

.Text {
  &--xs {
    font-size: var(--font-size-02);
  }
  &--sm {
    font-size: var(--font-size-03);
  }
  &--md {
    font-size: var(--font-size-04);
  }
  &--lg {
    font-size: var(--font-size-05);
  }
  &--xl {
    font-size: var(--font-size-06);
  }
}
