.tbx-title {
  --tbx-font-size-title-xs: calc(var(--tbx-space) * 10);
  --tbx-font-size-title-sm: calc(var(--tbx-space) * 12);
  --tbx-font-size-title-md: calc(var(--tbx-space) * 14);
  --tbx-font-size-title-lg: calc(var(--tbx-space) * 16);
  --tbx-font-size-title-xl: calc(var(--tbx-space) * 18);

  font-size: var(--tbx-font-size-title, var(--tbx-font-size-title-sm));

  &--xs {
    --tbx-font-size-title: var(--tbx-font-size-title-xs);
  }
  &--sm {
    --tbx-font-size-title: var(--tbx-font-size-title-sm);
  }
  &--md {
    --tbx-font-size-title: var(--tbx-font-size-title-md);
  }
  &--lg {
    --tbx-font-size-title: var(--tbx-font-size-title-lg);
  }
  &--xl {
    --tbx-font-size-title: var(--tbx-font-size-title-xl);
  }
}
