@use '../mixins/attributes' as attributes;
@use '../mixins/interactions' as interactions;

@layer reset {
  .title {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

.title {
  width: 100%;
  display: block;
  text-wrap: var(--title-text-wrap, inherit);
  direction: ltr;
  text-align: start;

  @include attributes.where-rtl {
    direction: rtl;
    text-align: end;
  }

  &:where([data-line-clamp]) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--title-line-clamp, inherit);
  }
}
