.sec {
  display: block;
  padding-bottom: var(--spacing-8);
  padding-inline: var(--spacing-4);
}

.sec-col-2 {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
