.guide-list {
  display: grid;
  place-content: start;
  gap: var(--spacing-6);

  &-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    &-text {
      flex: 1 0 75%;
      font-size: var(--fz-4);
      font-weight: var(--fw-reg);
      line-height: var(--lh-4);
    }
    &-title {
      flex: 1 0 25%;
      font-size: var(--fz-4);
      font-weight: var(--fw-med);
      line-height: var(--lh-4);
    }
  }
}

.guide-copy {
  font-size: var(--fz-4);
  font-weight: var(--fw-reg);
  line-height: var(--lh-4);
  color: var(--c-text-5);

  code,
  kbd {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    display: inline-flex;
    height: max-content;
    font-size: var(--fz-4);
    font-weight: var(--fw-bld);
    line-height: var(--lh-4);
    border-radius: calc(var(--unit) * 2);
    padding-inline: calc(var(--unit) * 2);
    color: var(--c-accent);
    background-color: var(--c-bg-3);

    [data-prefers-color-scheme='light'] & {
      background-color: var(--c-bg-2);
    }
  }
}
