.ff-plex {
  font-family: var(--ff-plex);
}
.ff-plex-c {
  font-family: var(--ff-plex-c);
}

.fw-thn {
  font-weight: var(--fw-thn);
}
.fw-xlt {
  font-weight: var(--fw-xlt);
}
.fw-lgt {
  font-weight: var(--fw-lgt);
}
.fw-reg {
  font-weight: var(--fw-reg);
}
.fw-med {
  font-weight: var(--fw-med);
}
.fw-sbd {
  font-weight: var(--fw-sbd);
}
.fw-bld {
  font-weight: var(--fw-bld);
}

.fz-m {
  font-size: var(--fz-m);
}
.fz-1 {
  font-size: var(--fz-1);
}
.fz-2 {
  font-size: var(--fz-2);
}
.fz-3 {
  font-size: var(--fz-3);
}
.fz-4 {
  font-size: var(--fz-4);
}
.fz-5 {
  font-size: var(--fz-5);
}
.fz-6 {
  font-size: var(--fz-6);
}
.fz-7 {
  font-size: var(--fz-7);
}
.fz-8 {
  font-size: var(--fz-8);
}
.fz-9 {
  font-size: var(--fz-9);
}
.fz-10 {
  font-size: var(--fz-10);
}
.fz-11 {
  font-size: var(--fz-11);
}
.fz-12 {
  font-size: var(--fz-12);
}
.fz-13 {
  font-size: var(--fz-13);
}
.fz-14 {
  font-size: var(--fz-14);
}
.fz-15 {
  font-size: var(--fz-15);
}
.fz-16 {
  font-size: var(--fz-16);
}
.fz-17 {
  font-size: var(--fz-17);
}
.fz-18 {
  font-size: var(--fz-18);
}
.fz-19 {
  font-size: var(--fz-19);
}
.fz-20 {
  font-size: var(--fz-20);
}

.Title {
  font-size: var(--fz-10);
  font-weight: var(--fw-med);
}

.Page-hero {
  .Title {
    font-size: var(--fz-15);
    font-weight: var(--fw-lgt);
  }
}
