.tbdx-button {
  --button-height-xs: calc(30px * var(--tbdx-scale));
  --button-height-sm: calc(36px * var(--tbdx-scale));
  --button-height-md: calc(42px * var(--tbdx-scale));
  --button-height-lg: calc(50px * var(--tbdx-scale));
  --button-height-xl: calc(60px * var(--tbdx-scale));

  --button-label-xs: var(--tbdx-font-size-05);
  --button-label-sm: var(--tbdx-font-size-06);
  --button-label-md: var(--tbdx-font-size-07);
  --button-label-lg: var(--tbdx-font-size-08);
  --button-label-xl: var(--tbdx-font-size-09);

  margin: 1.5px;
  user-select: none;
  padding-block: 1rem;
  padding-inline: 1rem;
  font-family: var(--tbdx-font-family-med);
  line-height: 1;

  display: var(--button-display, inline-flex);
  text-align: var(--button-align, center);
  align-items: var(--button-align, center);
  border-radius: var(--button-radius, none);
  justify-content: var(--button-justify, center);
  font-size: var(--button-label, var(--button-label-xs));
  height: var(--button-height, var(--button-height-xs));

  &[data-block] {
    --button-display: block;
  }

  &--align-center {
    --button-align: center;
  }
  &--align-start {
    --button-align: start;
  }
  &--align-end {
    --button-align: end;
  }

  &--radius-xs {
    --button-radius: var(--tbdx-radius-xs);
  }
  &--radius-sm {
    --button-radius: var(--tbdx-radius-sm);
  }
  &--radius-md {
    --button-radius: var(--tbdx-radius-md);
  }
  &--radius-lg {
    --button-radius: var(--tbdx-radius-lg);
  }
  &--radius-xl {
    --button-radius: var(--tbdx-radius-xl);
  }
  &--radius-rd {
    --button-radius: var(--tbdx-radius-rd);
  }

  &--size-xs {
    --button-height: var(--button-height-xs);
    --button-label: var(--button-label-xs);
  }
  &--size-sm {
    --button-height: var(--button-height-sm);
    --button-label: var(--button-label-sm);
  }
  &--size-md {
    --button-height: var(--button-height-md);
    --button-label: var(--button-label-md);
  }
  &--size-lg {
    --button-height: var(--button-height-lg);
    --button-label: var(--button-label-lg);
  }
  &--size-xl {
    --button-height: var(--button-height-xl);
    --button-label: var(--button-label-xl);
  }
}
