.Checkbox {
  --checkbox-height-xs: calc(18px * var(--scale));
  --checkbox-height-sm: calc(20px * var(--scale));
  --checkbox-height-md: calc(24px * var(--scale));
  --checkbox-height-lg: calc(30px * var(--scale));
  --checkbox-height-xl: calc(36px * var(--scale));

  --checkbox-font-size-xs: calc(12px * var(--scale));
  --checkbox-font-size-sm: calc(14px * var(--scale));
  --checkbox-font-size-md: calc(16px * var(--scale));
  --checkbox-font-size-lg: calc(18px * var(--scale));
  --checkbox-font-size-xl: calc(20px * var(--scale));

  height: var(--checkbox-height, var(--checkbox-height-xs));
  font-size: var(--checkbox-font-size, var(--checkbox-font-size-xs));

  &--xs {
    --checkbox-height: var(--checkbox-height-xs);
    --checkbox-font-size: var(--checkbox-font-size-xs);
  }
  &--sm {
    --checkbox-height: var(--checkbox-height-sm);
    --checkbox-font-size: var(--checkbox-font-size-sm);
  }
  &--md {
    --checkbox-height: var(--checkbox-height-md);
    --checkbox-font-size: var(--checkbox-font-size-md);
  }
  &--lg {
    --checkbox-height: var(--checkbox-height-lg);
    --checkbox-font-size: var(--checkbox-font-size-lg);
  }
  &--xl {
    --checkbox-height: var(--checkbox-height-xl);
    --checkbox-font-size: var(--checkbox-font-size-xl);
  }
}
