.tbdx-radio-group {
  display: var(--input-group-display, flex);
  flex-direction: var(--input-group-direction, row);
  border: solid 1.5px transparent;

  &[data-orientation='vertical'] {
    --input-group-direction: column;
  }
  &[data-orientation='horizontal'] {
    --input-group-direction: row;
  }
}

.tbdx-switch-group {
  display: var(--input-group-display, flex);
  flex-direction: var(--input-group-direction, row);
  border: solid 1.5px transparent;

  &[data-orientation='vertical'] {
    --input-group-direction: column;
  }
  &[data-orientation='horizontal'] {
    --input-group-direction: row;
  }
}

.tbdx-button-group {
  display: var(--input-group-display, flex);
  flex-direction: var(--input-group-direction, row);
  border: solid 1.5px transparent;

  &[data-orientation='vertical'] {
    --input-group-direction: column;
  }
  &[data-orientation='horizontal'] {
    --input-group-direction: row;
  }
}

.tbdx-checkbox-group {
  display: var(--input-group-display, flex);
  flex-direction: var(--input-group-direction, row);
  border: solid 1.5px transparent;

  legend {
    padding-inline: var(--tbdx-spacing-2);
  }

  &[data-orientation='vertical'] {
    --input-group-direction: column;
  }
  &[data-orientation='horizontal'] {
    --input-group-direction: row;
  }
}
