.Link,
.Radio,
.Button,
.Switch,
.Checkbox,
.InlineInput {
  --tbdx-cursor: pointer;

  cursor: var(--tbdx-cursor);
  user-select: none;

  &:disabled,
  &[data-disabled],
  &[data-readonly] {
    --tbdx-cursor: default;
  }
}

.Text,
.Title,
.Link,
.Radio,
.Button,
.Switch,
.Checkbox,
.InlineInput {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
