.tbdx-space {
  --tbdx-space-height-xs: var(--tbdx-spacing-8);
  --tbdx-space-height-sm: var(--tbdx-spacing-9);
  --tbdx-space-height-md: var(--tbdx-spacing-10);
  --tbdx-space-height-lg: var(--tbdx-spacing-11);
  --tbdx-space-height-xl: var(--tbdx-spacing-12);

  height: var(--tbdx-space-height, var(--tbdx-space-height-xs));

  &--size-xs {
    --tbdx-space-height: var(--tbdx-space-height-xs);
  }
  &--size-sm {
    --tbdx-space-height: var(--tbdx-space-height-sm);
  }
  &--size-md {
    --tbdx-space-height: var(--tbdx-space-height-md);
  }
  &--size-lg {
    --tbdx-space-height: var(--tbdx-space-height-lg);
  }
  &--size-xl {
    --tbdx-space-height: var(--tbdx-space-height-xl);
  }
}
