.tbdx-stack {
  --tbdx-stack-gap-xs: var(--tbdx-spacing-4);
  --tbdx-stack-gap-sm: var(--tbdx-spacing-6);
  --tbdx-stack-gap-md: var(--tbdx-spacing-8);
  --tbdx-stack-gap-lg: var(--tbdx-spacing-10);
  --tbdx-stack-gap-xl: var(--tbdx-spacing-12);

  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, center);
  align-items: var(--stack-align, flex-start);
  justify-content: var(--stack-justify, flex-start);

  &--justify-center {
    justify-content: center;
  }
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-end {
    justify-content: flex-end;
  }

  &--align-center {
    align-items: center;
  }
  &--align-start {
    align-items: flex-start;
  }
  &--align-end {
    align-items: flex-end;
  }

  &--gap-sm {
    --stack-gap: var(--stack-gap-xs);
  }
  &--gap-sm {
    --stack-gap: var(--stack-gap-sm);
  }
  &--gap-sm {
    --stack-gap: var(--stack-gap-md);
  }
  &--gap-sm {
    --stack-gap: var(--stack-gap-lg);
  }
  &--gap-sm {
    --stack-gap: var(--stack-gap-xl);
  }
}
