.tbdx-switch {
  --inline-input-size-xs: calc(28px * var(--tbdx-scale));
  --inline-input-size-sm: calc(30px * var(--tbdx-scale));
  --inline-input-size-md: calc(32px * var(--tbdx-scale));
  --inline-input-size-lg: calc(34px * var(--tbdx-scale));
  --inline-input-size-xl: calc(36px * var(--tbdx-scale));

  --inline-input-font-xs: calc(14px * var(--tbdx-scale));
  --inline-input-font-sm: calc(16px * var(--tbdx-scale));
  --inline-input-font-md: calc(18px * var(--tbdx-scale));
  --inline-input-font-lg: calc(20px * var(--tbdx-scale));
  --inline-input-font-xl: calc(22px * var(--tbdx-scale));

  --inline-input-icon-xs: calc(20px * var(--tbdx-scale));
  --inline-input-icon-sm: calc(22px * var(--tbdx-scale));
  --inline-input-icon-md: calc(24px * var(--tbdx-scale));
  --inline-input-icon-lg: calc(26px * var(--tbdx-scale));
  --inline-input-icon-xl: calc(28px * var(--tbdx-scale));

  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  gap: var(--inline-input-gap, var(--inline-input-gap-xs));
  height: var(--inline-input-size, var(--inline-input-size-xs));
  display: var(--inline-input-display, inline-flex);
  align-items: var(--inline-input-align, center);
  justify-content: var(--inline-input-justify, flex-start);
  padding-inline: var(--tbdx-spacing-1);
  text-align: var(--inline-input-align, center);
  font-size: var(--inline-input-font, var(--inline-input-font-xs));
  outline: solid 1.5px transparent;
  border: solid 1.5px transparent;

  [data-disabled] &,
  [data-readOnly] & {
    cursor: default;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: hsl(var(--tbdx-hsl-blue), 50%, 0.9);
  }

  &[data-block] {
    --inline-input-display: block;
  }

  &--label {
    margin: 0;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;

    [data-disabled] &,
    [data-readOnly] & {
      cursor: default;
    }
  }

  svg {
    width: var(--inline-input-icon, var(--inline-input-icon-xs));
    height: var(--inline-input-icon, var(--inline-input-icon-xs));
  }

  &--align-center {
    --inline-input-align: center;
  }
  &--align-start {
    --inline-input-align: start;
  }
  &--align-end {
    --inline-input-align: end;
  }

  &--justify-center {
    --inline-input-justify: center;
  }
  &--justify-start {
    --inline-input-justify: start;
  }
  &--justify-end {
    --inline-input-justify: end;
  }

  &--size-xs svg {
    --inline-input-icon: var(--inline-input-icon-xs);
  }
  &--size-sm svg {
    --inline-input-icon: var(--inline-input-icon-sm);
  }
  &--size-md svg {
    --inline-input-icon: var(--inline-input-icon-md);
  }
  &--size-lg svg {
    --inline-input-icon: var(--inline-input-icon-lg);
  }
  &--size-xl svg {
    --inline-input-icon: var(--inline-input-icon-xl);
  }

  &--size-xs {
    --inline-input-size: var(--inline-input-size-xs);
    --inline-input-font: var(--inline-input-font-xs);
    --inline-input-gap: var(--inline-input-gap-xs);
  }
  &--size-sm {
    --inline-input-size: var(--inline-input-size-sm);
    --inline-input-font: var(--inline-input-font-sm);
    --inline-input-gap: var(--inline-input-gap-sm);
  }
  &--size-md {
    --inline-input-size: var(--inline-input-size-md);
    --inline-input-font: var(--inline-input-font-md);
    --inline-input-gap: var(--inline-input-gap-md);
  }
  &--size-lg {
    --inline-input-size: var(--inline-input-size-lg);
    --inline-input-font: var(--inline-input-font-lg);
    --inline-input-gap: var(--inline-input-gap-lg);
  }
  &--size-xl {
    --inline-input-size: var(--inline-input-size-xl);
    --inline-input-font: var(--inline-input-font-xl);
    --inline-input-gap: var(--inline-input-gap-xl);
  }
}
