.Title {
  --title-size-h6: calc(var(--tbdx-font-size-04) * var(--tbdx-scale, 1));
  --title-size-h5: calc(var(--tbdx-font-size-05) * var(--tbdx-scale, 1));
  --title-size-h4: calc(var(--tbdx-font-size-06) * var(--tbdx-scale, 1));
  --title-size-h3: calc(var(--tbdx-font-size-07) * var(--tbdx-scale, 1));
  --title-size-h2: calc(var(--tbdx-font-size-08) * var(--tbdx-scale, 1));
  --title-size-h1: calc(var(--tbdx-font-size-09) * var(--tbdx-scale, 1));

  --title-size-xs: calc(var(--tbdx-font-size-05) * var(--tbdx-scale, 1));
  --title-size-sm: calc(var(--tbdx-font-size-06) * var(--tbdx-scale, 1));
  --title-size-md: calc(var(--tbdx-font-size-07) * var(--tbdx-scale, 1));
  --title-size-lg: calc(var(--tbdx-font-size-08) * var(--tbdx-scale, 1));
  --title-size-xl: calc(var(--tbdx-font-size-09) * var(--tbdx-scale, 1));

  --title-lead-xs: calc(1.2 * var(--tbdx-scale, 1));
  --title-lead-sm: calc(1.4 * var(--tbdx-scale, 1));
  --title-lead-md: calc(1.8 * var(--tbdx-scale, 1));
  --title-lead-lg: calc(2.2 * var(--tbdx-scale, 1));
  --title-lead-xl: calc(2.6 * var(--tbdx-scale, 1));

  font-size: var(--title-size, var(--title-size-xs));
  line-height: var(--title-lead, var(--title-lead-xs));
  font-family: var(--title-weight, var(--tbdx-font-family-reg));

  &--h6 {
    --title-size: var(--title-size-h6);
  }
  &--h5 {
    --title-size: var(--title-size-h5);
  }
  &--h4 {
    --title-size: var(--title-size-h4);
  }
  &--h3 {
    --title-size: var(--title-size-h3);
  }
  &--h2 {
    --title-size: var(--title-size-h2);
  }
  &--h1 {
    --title-size: var(--title-size-h1);
  }

  &--xs {
    --title-size: var(--title-size-xs);
  }
  &--sm {
    --title-size: var(--title-size-sm);
  }
  &--md {
    --title-size: var(--title-size-md);
  }
  &--lg {
    --title-size: var(--title-size-lg);
  }
  &--xl {
    --title-size: var(--title-size-xl);
  }

  &--lead-xs {
    --title-lead: var(--title-lead-xs);
  }
  &--lead-sm {
    --title-lead: var(--title-lead-sm);
  }
  &--lead-md {
    --title-lead: var(--title-lead-md);
  }
  &--lead-lg {
    --title-lead: var(--title-lead-lg);
  }
  &--lead-xl {
    --title-lead: var(--title-lead-xl);
  }

  &--xlt {
    --title-weight: var(--tbdx-font-family-xlt);
  }
  &--lgt {
    --title-weight: var(--tbdx-font-family-lgt);
  }
  &--reg {
    --title-weight: var(--tbdx-font-family-reg);
  }
  &--med {
    --title-weight: var(--tbdx-font-family-med);
  }
  &--bld {
    --title-weight: var(--tbdx-font-family-bld);
  }
  &--xbd {
    --title-weight: var(--tbdx-font-family-xbd);
  }
}
