.tbdx-tool {
  --tbdx-tool-size-xs: calc(24px * var(--tbdx-scale));
  --tbdx-tool-size-sm: calc(28px * var(--tbdx-scale));
  --tbdx-tool-size-md: calc(32px * var(--tbdx-scale));
  --tbdx-tool-size-lg: calc(36px * var(--tbdx-scale));
  --tbdx-tool-size-xl: calc(40px * var(--tbdx-scale));

  --tbdx-tool-icon-size-xs: calc(16px * var(--tbdx-scale));
  --tbdx-tool-icon-size-sm: calc(20px * var(--tbdx-scale));
  --tbdx-tool-icon-size-md: calc(24px * var(--tbdx-scale));
  --tbdx-tool-icon-size-lg: calc(28px * var(--tbdx-scale));
  --tbdx-tool-icon-size-xl: calc(32px * var(--tbdx-scale));

  margin: 1px;
  user-select: none;
  width: var(--tbdx-tool-size, var(--tbdx-tool-size-xs));
  height: var(--tbdx-tool-size, var(--tbdx-tool-size-xs));
  outline: solid 1.5px transparent;
  border: solid 1.5px transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus:not(:focus-visible) {
    outline-color: transparent;
  }
  &:focus:focus-visible {
    outline-color: hsl(var(--tbdx-hsl-blue), 70%, 0.9);
  }

  .tbdx-tool-icon {
    width: var(--tbdx-tool-icon-size, var(--tbdx-tool-icon-size-xs));
    height: var(--tbdx-tool-icon-size, var(--tbdx-tool-icon-size-xs));
  }

  &--size-xs {
    --tbdx-tool-size: var(--tbdx-tool-size-xs);
  }
  &--size-sm {
    --tbdx-tool-size: var(--tbdx-tool-size-sm);
  }
  &--size-md {
    --tbdx-tool-size: var(--tbdx-tool-size-md);
  }
  &--size-lg {
    --tbdx-tool-size: var(--tbdx-tool-size-lg);
  }
  &--size-xl {
    --tbdx-tool-size: var(--tbdx-tool-size-xl);
  }

  &--size-xs .tbdx-tool-icon {
    --tbdx-tool-icon-size: var(--tbdx-tool-icon-size-xs);
  }
  &--size-sm .tbdx-tool-icon {
    --tbdx-tool-icon-size: var(--tbdx-tool-icon-size-sm);
  }
  &--size-md .tbdx-tool-icon {
    --tbdx-tool-icon-size: var(--tbdx-tool-icon-size-md);
  }
  &--size-lg .tbdx-tool-icon {
    --tbdx-tool-icon-size: var(--tbdx-tool-icon-size-lg);
  }
  &--size-xl .tbdx-tool-icon {
    --tbdx-tool-icon-size: var(--tbdx-tool-icon-size-xl);
  }
}
