@layer reset {
  .Layout {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

.Layout {
  z-index: 0;
  display: block;
  isolation: isolate;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--c-bg-1);
  color: var(--c-text-1);
}
