@use '../mixins/interactions' as interactions;

@layer reset {
  .Logo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

.Logo {
  @include interactions.focus;
  @include interactions.cursor;

  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--fz-8);
  font-weight: var(--fw-reg);
  padding-inline: var(--spacing-6);

  color: var(--c-text-1);
  transition-property: var(--transition-color);
  transition-duration: var(--easing-duration-7);
  transition-timing-function: var(--easing-productive);
}
