@use '../mixins/breakpoints' as breakpoints;

@layer reset {
  .Menu {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

.Menu {
  display: none;

  @include breakpoints.desktop-sm {
    top: var(--header-height);
    width: var(--menu-width);
    z-index: var(--index-menu);
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: var(--spacing-8);

    color: var(--c-text-3);
    background-color: var(--c-bg-3);
    transition-property: var(--transition-color);
    transition-duration: var(--easing-duration-7);
    transition-timing-function: var(--easing-productive);
  }
}
