@layer reset {
  .Page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

.Page {
  display: block;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  color: var(--c-text-1);
  background-color: var(--c-bg-1);

  &-hero {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    height: var(--breakpoint-mobile-sm);
    margin-inline: var(--spacing-4);
    padding-bottom: var(--spacing-8);
  }
}
