@use '../mixins/breakpoints' as breakpoints;

@layer reset {
  .Page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
  }
}

.Page {
  top: 0;
  bottom: 0;
  z-index: 1;
  display: grid;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--c-text-1);
  background-color: var(--c-bg-1);
  margin-top: var(--header-height);

  @include breakpoints.desktop-sm {
    left: var(--breakpoint-mobile-sm);
  }

  &-hero {
    display: flex;
    height: var(--breakpoint-mobile-sm);
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: var(--spacing-8);
    margin-inline: var(--spacing-4);
  }

  &-footer {
    padding-inline: var(--spacing-4);
    padding-block: var(--spacing-8);
  }
}
