[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  .tbdx-link,
  .tbdx-radio,
  .tbdx-button,
  .tbdx-switch,
  .tbdx-checkbox {
    --tbdx-cursor: pointer;
    --tbdx-border: transparent;
    --tbdx-outline: transparent;

    cursor: var(--tbdx-cursor);
    border: solid 1.5px var(--tbdx-border);
    outline: solid 1.5px var(--tbdx-outline);

    &:disabled,
    &[data-disabled],
    &[data-readOnly] {
      --tbdx-cursor: default;
    }
    &:focus:not(:focus-visible) {
      --tbdx-outline: transparent;
    }
    &:focus:focus-visible {
      --tbdx-outline: var(--tbdx-indigo-base-6);
    }
  }

  .tdbx-button,
  .tbdx-button--scheme-action,
  .tbdx-button--scheme-danger,
  .tbdx-button--scheme-success,
  .tbdx-button--scheme-warning,
  .tbdx-button--scheme-primary,
  .tbdx-button--scheme-secondary {
    --tbdx-text-base: unset;
    --tbdx-text-hover: unset;
    --tbdx-text-disabled: unset;
    --tbdx-text-readOnly: unset;

    --tbdx-background-base: unset;
    --tbdx-background-hover: unset;
    --tbdx-background-disabled: unset;
    --tbdx-background-readOnly: unset;

    color: var(--button-text-base);
    background-color: var(--button-background-base);

    &:hover {
      color: var(--button-text-hover);
      background-color: var(--button-background-hover);
    }

    &:disabled,
    &[data-disabled] {
      color: var(--button-text-disabled);
      background-color: var(--button-background-disabled);
    }

    &:read-only,
    &[data-readOnly] {
      color: var(--button-text-readOnly);
      background-color: var(--button-background-readOnly);
    }
  }

  .tdbx-button,
  .tbdx-button--scheme-action,
  .tbdx-button--scheme-danger,
  .tbdx-button--scheme-success,
  .tbdx-button--scheme-warning,
  .tbdx-button--scheme-primary,
  .tbdx-button--scheme-secondary {
    --tbdx-text-disabled: unset;
    --tbdx-text-readOnly: unset;
    --tbdx-background-disabled: unset;
    --tbdx-background-readOnly: unset;
  }

  .tbdx-button--variant-solid {
    &.tbdx-button--scheme-primary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
    &.tbdx-button--scheme-secondary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
  }

  .tbdx-button--variant-outlined {
    &.tbdx-button--scheme-primary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
    &.tbdx-button--scheme-secondary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
  }

  .tbdx-button--variant-tonal {
    &.tbdx-button--scheme-primary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
    &.tbdx-button--scheme-secondary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
  }

  .tbdx-button--variant-ghost {
    &.tbdx-button--scheme-primary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
    &.tbdx-button--scheme-secondary {
      --tbdx-text-base: unset;
      --tbdx-text-hover: unset;
      --tbdx-background-base: unset;
      --tbdx-background-hover: unset;
    }
  }
}
