[data-prefers-color-scheme='dark'] {
  --tbdx-hsl-orange: 32, 72%;
  --tbdx-hsl-yellow: 57, 72%;
  --tbdx-hsl-green: 140, 72%;
  --tbdx-hsl-cyan: 198, 72%;
  --tbdx-hsl-blue: 217, 72%;
  --tbdx-hsl-indigo: 234, 72%;
  --tbdx-hsl-purple: 257, 72%;
  --tbdx-hsl-violet: 267, 72%;
  --tbdx-hsl-pink: 302, 72%;
  --tbdx-hsl-magenta: 333, 72%;
  --tbdx-hsl-red: 356, 72%;
}
[data-prefers-color-scheme='light'] {
  --tbdx-hsl-orange: 32, 63%;
  --tbdx-hsl-yellow: 57, 63%;
  --tbdx-hsl-green: 140, 63%;
  --tbdx-hsl-cyan: 198, 63%;
  --tbdx-hsl-blue: 217, 63%;
  --tbdx-hsl-indigo: 234, 63%;
  --tbdx-hsl-purple: 257, 63%;
  --tbdx-hsl-violet: 267, 63%;
  --tbdx-hsl-pink: 302, 63%;
  --tbdx-hsl-magenta: 333, 63%;
  --tbdx-hsl-red: 356, 63%;
}
