$tbdx-color-surface-map: (
  dark: (
    base: (
      0: '0, 0%, 06%',
      1: '0, 0%, 11%',
      2: '0, 0%, 16%',
      3: '0, 0%, 21%',
      4: '0, 0%, 25%',
      5: '0, 0%, 31%',
      6: '0, 0%, 35%',
      7: '0, 0%, 40%',
      8: '0, 0%, 45%',
      9: '0, 0%, 50%',
    ),
    invert: (
      0: '0, 0%, 98%',
      1: '0, 0%, 93%',
      2: '0, 0%, 87%',
      3: '0, 0%, 82%',
      4: '0, 0%, 77%',
      5: '0, 0%, 71%',
      6: '0, 0%, 66%',
      7: '0, 0%, 61%',
      8: '0, 0%, 56%',
      9: '0, 0%, 50%',
    ),
  ),
  light: (
    base: (
      0: '0, 0%, 98%',
      1: '0, 0%, 93%',
      2: '0, 0%, 87%',
      3: '0, 0%, 82%',
      4: '0, 0%, 77%',
      5: '0, 0%, 71%',
      6: '0, 0%, 66%',
      7: '0, 0%, 61%',
      8: '0, 0%, 56%',
      9: '0, 0%, 50%',
    ),
    invert: (
      0: '0, 0%, 06%',
      1: '0, 0%, 11%',
      2: '0, 0%, 16%',
      3: '0, 0%, 21%',
      4: '0, 0%, 25%',
      5: '0, 0%, 31%',
      6: '0, 0%, 35%',
      7: '0, 0%, 40%',
      8: '0, 0%, 45%',
      9: '0, 0%, 50%',
    ),
  ),
);

@function use-surface($shade: 1, $type: base, $mode: light) {
  $mode-map: map-get($tbdx-color-surface-map, $mode);
  $type-map: map-get($mode-map, $type);
  @return 'hsl(#{map-get($type-map, $shade)})';
}

$tbdx-color-accent-map: (
  orange: (
    0: '37, 99%, 94%',
    1: '34, 99%, 90%',
    2: '32, 99%, 81%',
    3: '32, 97%, 70%',
    4: '32, 97%, 61%',
    5: '32, 97%, 55%',
    6: '32, 98%, 52%',
    7: '32, 99%, 44%',
    8: '32, 99%, 39%',
    9: '31, 99%, 34%',
  ),
  yellow: (
    0: '58, 86%, 95%',
    1: '57, 73%, 90%',
    2: '57, 70%, 80%',
    3: '57, 69%, 70%',
    4: '57, 69%, 61%',
    5: '57, 69%, 55%',
    6: '57, 69%, 52%',
    7: '57, 71%, 44%',
    8: '57, 77%, 38%',
    9: '57, 96%, 29%',
  ),
  green: (
    0: '142, 93%, 95%',
    1: '142, 76%, 90%',
    2: '140, 72%, 80%',
    3: '140, 73%, 70%',
    4: '140, 72%, 61%',
    5: '139, 72%, 55%',
    6: '140, 72%, 52%',
    7: '141, 77%, 44%',
    8: '142, 87%, 37%',
    9: '144, 99%, 29%',
  ),
  cyan: (
    0: '188, 99%, 94%',
    1: '195, 99%, 90%',
    2: '197, 99%, 80%',
    3: '197, 99%, 70%',
    4: '198, 99%, 62%',
    5: '198, 99%, 57%',
    6: '197, 99%, 52%',
    7: '198, 99%, 45%',
    8: '198, 99%, 40%',
    9: '199, 99%, 35%',
  ),
  blue: (
    0: '205, 99%, 95%',
    1: '215, 99%, 90%',
    2: '217, 99%, 80%',
    3: '217, 99%, 70%',
    4: '217, 99%, 61%',
    5: '217, 99%, 55%',
    6: '217, 99%, 52%',
    7: '217, 99%, 45%',
    8: '217, 99%, 40%',
    9: '218, 99%, 35%',
  ),
  indigo: (
    0: '228, 99%, 96%',
    1: '232, 87%, 91%',
    2: '233, 72%, 80%',
    3: '233, 71%, 70%',
    4: '234, 70%, 60%',
    5: '234, 71%, 55%',
    6: '234, 71%, 52%',
    7: '233, 73%, 45%',
    8: '232, 76%, 39%',
    9: '229, 87%, 33%',
  ),
  purple: (
    0: '260, 99%, 96%',
    1: '255, 78%, 91%',
    2: '257, 70%, 81%',
    3: '257, 68%, 69%',
    4: '257, 67%, 60%',
    5: '257, 67%, 55%',
    6: '257, 68%, 52%',
    7: '257, 69%, 45%',
    8: '256, 70%, 40%',
    9: '256, 73%, 35%',
  ),
  violet: (
    0: '272, 99%, 96%',
    1: '268, 82%, 91%',
    2: '267, 71%, 81%',
    3: '267, 70%, 70%',
    4: '267, 69%, 60%',
    5: '267, 69%, 55%',
    6: '267, 70%, 52%',
    7: '267, 71%, 45%',
    8: '267, 72%, 40%',
    9: '267, 76%, 34%',
  ),
  pink: (
    0: '300, 99%, 96%',
    1: '301, 96%, 91%',
    2: '302, 90%, 81%',
    3: '302, 88%, 70%',
    4: '302, 87%, 61%',
    5: '302, 87%, 55%',
    6: '302, 88%, 52%',
    7: '302, 92%, 44%',
    8: '302, 99%, 37%',
    9: '302, 99%, 33%',
  ),
  magenta: (
    0: '325, 99%, 96%',
    1: '333, 99%, 91%',
    2: '333, 90%, 81%',
    3: '333, 88%, 70%',
    4: '333, 87%, 61%',
    5: '333, 87%, 55%',
    6: '333, 88%, 52%',
    7: '332, 93%, 44%',
    8: '331, 99%, 38%',
    9: '332, 99%, 33%',
  ),
  red: (
    0: '354, 99%, 96%',
    1: '357, 91%, 91%',
    2: '356, 78%, 81%',
    3: '356, 75%, 70%',
    4: '357, 75%, 61%',
    5: '357, 76%, 55%',
    6: '356, 76%, 52%',
    7: '356, 77%, 45%',
    8: '355, 82%, 39%',
    9: '352, 95%, 32%',
  ),
);
