[data-prefers-color-scheme='light'] {
  --tbdx-hsl-surface: 0, 0%;
  --tbdx-background-0: hsl(var(--tbdx-hsl-surface), 10%);
  --tbdx-background-1: hsl(var(--tbdx-hsl-surface), 16%);
  --tbdx-background-2: hsl(var(--tbdx-hsl-surface), 24%);
  --tbdx-background-3: hsl(var(--tbdx-hsl-surface), 30%);
  --tbdx-background-4: hsl(var(--tbdx-hsl-surface), 36%);
}

[data-prefers-color-scheme='dark'] {
  --tbdx-hsl-surface: 0, 0%;
  --tbdx-background-0: hsl(var(--tbdx-hsl-surface), 90%);
  --tbdx-background-1: hsl(var(--tbdx-hsl-surface), 84%);
  --tbdx-background-2: hsl(var(--tbdx-hsl-surface), 78%);
  --tbdx-background-3: hsl(var(--tbdx-hsl-surface), 72%);
  --tbdx-background-4: hsl(var(--tbdx-hsl-surface), 68%);
}
