:root {
  --tbdx-red-00: #fff5f5;
  --tbdx-red-10: #ffe3e3;
  --tbdx-red-20: #ffc9c9;
  --tbdx-red-30: #ffa8a8;
  --tbdx-red-40: #ff8787;
  --tbdx-red-50: #ff6b6b;
  --tbdx-red-60: #fa5252;
  --tbdx-red-70: #f03e3e;
  --tbdx-red-80: #e03131;
  --tbdx-red-90: #c92a2a;

  --tbdx-pink-00: #fff0f6;
  --tbdx-pink-10: #ffdeeb;
  --tbdx-pink-20: #fcc2d7;
  --tbdx-pink-30: #faa2c1;
  --tbdx-pink-40: #f783ac;
  --tbdx-pink-50: #f06595;
  --tbdx-pink-60: #e64980;
  --tbdx-pink-70: #d6336c;
  --tbdx-pink-80: #c2255c;
  --tbdx-pink-90: #a61e4d;

  --tbdx-grape-00: #f8f0fc;
  --tbdx-grape-10: #f3d9fa;
  --tbdx-grape-20: #eebefa;
  --tbdx-grape-30: #e599f7;
  --tbdx-grape-40: #da77f2;
  --tbdx-grape-50: #cc5de8;
  --tbdx-grape-60: #be4bdb;
  --tbdx-grape-70: #ae3ec9;
  --tbdx-grape-80: #9c36b5;
  --tbdx-grape-90: #862e9c;

  --tbdx-violet-00: #f3f0ff;
  --tbdx-violet-10: #e5dbff;
  --tbdx-violet-20: #d0bfff;
  --tbdx-violet-30: #b197fc;
  --tbdx-violet-40: #9775fa;
  --tbdx-violet-50: #845ef7;
  --tbdx-violet-60: #7950f2;
  --tbdx-violet-70: #7048e8;
  --tbdx-violet-80: #6741d9;
  --tbdx-violet-90: #5f3dc4;

  --tbdx-blue-00: #e5f4ff;
  --tbdx-blue-10: #cde2ff;
  --tbdx-blue-20: #9bc2ff;
  --tbdx-blue-30: #64a0ff;
  --tbdx-blue-40: #3984fe;
  --tbdx-blue-50: #1d72fe;
  --tbdx-blue-60: #0969ff;
  --tbdx-blue-70: #0058e4;
  --tbdx-blue-80: #004ecc;
  --tbdx-blue-90: #0043b5;

  --tbdx-skyblue-00: #e7f5ff;
  --tbdx-skyblue-10: #d0ebff;
  --tbdx-skyblue-20: #a5d8ff;
  --tbdx-skyblue-30: #74c0fc;
  --tbdx-skyblue-40: #4dabf7;
  --tbdx-skyblue-50: #339af0;
  --tbdx-skyblue-60: #228be6;
  --tbdx-skyblue-70: #1c7ed6;
  --tbdx-skyblue-80: #1971c2;
  --tbdx-skyblue-90: #1864ab;

  --tbdx-cyan-00: #e3fafc;
  --tbdx-cyan-10: #c5f6fa;
  --tbdx-cyan-20: #99e9f2;
  --tbdx-cyan-30: #66d9e8;
  --tbdx-cyan-40: #3bc9db;
  --tbdx-cyan-50: #22b8cf;
  --tbdx-cyan-60: #15aabf;
  --tbdx-cyan-70: #1098ad;
  --tbdx-cyan-80: #0c8599;
  --tbdx-cyan-90: #0b7285;

  --tbdx-teal-00: #e6fcf5;
  --tbdx-teal-10: #c3fae8;
  --tbdx-teal-20: #96f2d7;
  --tbdx-teal-30: #63e6be;
  --tbdx-teal-40: #38d9a9;
  --tbdx-teal-50: #20c997;
  --tbdx-teal-60: #12b886;
  --tbdx-teal-70: #0ca678;
  --tbdx-teal-80: #099268;
  --tbdx-teal-90: #087f5b;

  --tbdx-green-00: #ebfbee;
  --tbdx-green-10: #d3f9d8;
  --tbdx-green-20: #b2f2bb;
  --tbdx-green-30: #8ce99a;
  --tbdx-green-40: #69db7c;
  --tbdx-green-50: #51cf66;
  --tbdx-green-60: #40c057;
  --tbdx-green-70: #37b24d;
  --tbdx-green-80: #2f9e44;
  --tbdx-green-90: #2b8a3e;

  --tbdx-lime-00: #f4fce3;
  --tbdx-lime-10: #e9fac8;
  --tbdx-lime-20: #d8f5a2;
  --tbdx-lime-30: #c0eb75;
  --tbdx-lime-40: #a9e34b;
  --tbdx-lime-50: #94d82d;
  --tbdx-lime-60: #82c91e;
  --tbdx-lime-70: #74b816;
  --tbdx-lime-80: #66a80f;
  --tbdx-lime-90: #5c940d;

  --tbdx-yellow-00: #fff9db;
  --tbdx-yellow-10: #fff3bf;
  --tbdx-yellow-20: #ffec99;
  --tbdx-yellow-30: #ffe066;
  --tbdx-yellow-40: #ffd43b;
  --tbdx-yellow-50: #fcc419;
  --tbdx-yellow-60: #fab005;
  --tbdx-yellow-70: #f59f00;
  --tbdx-yellow-80: #f08c00;
  --tbdx-yellow-90: #e67700;

  --tbdx-orange-00: #fff4e6;
  --tbdx-orange-10: #ffe8cc;
  --tbdx-orange-20: #ffd8a8;
  --tbdx-orange-30: #ffc078;
  --tbdx-orange-40: #ffa94d;
  --tbdx-orange-50: #ff922b;
  --tbdx-orange-60: #fd7e14;
  --tbdx-orange-70: #f76707;
  --tbdx-orange-80: #e8590c;
  --tbdx-orange-90: #d9480f;

  --dark-neutral-00: #000000;
  --dark-neutral-02: #050505;
  --dark-neutral-04: #0a0a0a;
  --dark-neutral-06: #0f0f0f;
  --dark-neutral-08: #141414;
  --dark-neutral-10: #1a1a1a;
  --dark-neutral-12: #1f1f1f;
  --dark-neutral-14: #242424;
  --dark-neutral-16: #292929;
  --dark-neutral-18: #2e2e2e;
  --dark-neutral-20: #333333;
  --dark-neutral-22: #383838;
  --dark-neutral-24: #3d3d3d;
  --dark-neutral-26: #424242;
  --dark-neutral-28: #474747;
  --dark-neutral-30: #4d4d4d;
  --dark-neutral-32: #525252;
  --dark-neutral-34: #575757;
  --dark-neutral-36: #5c5c5c;
  --dark-neutral-38: #616161;
  --dark-neutral-40: #666666;
  --dark-neutral-42: #6b6b6b;
  --dark-neutral-44: #707070;
  --dark-neutral-46: #757575;
  --dark-neutral-48: #7a7a7a;
  --dark-neutral-50: #808080;
  --dark-neutral-52: #858585;
  --dark-neutral-54: #8a8a8a;
  --dark-neutral-56: #8f8f8f;
  --dark-neutral-58: #949494;
  --dark-neutral-60: #999999;
  --dark-neutral-62: #9e9e9e;
  --dark-neutral-64: #a3a3a3;
  --dark-neutral-66: #a8a8a8;
  --dark-neutral-68: #adadad;
  --dark-neutral-70: #b3b3b3;
  --dark-neutral-72: #b8b8b8;
  --dark-neutral-74: #bdbdbd;
  --dark-neutral-76: #c2c2c2;
  --dark-neutral-78: #c7c7c7;
  --dark-neutral-80: #cccccc;
  --dark-neutral-82: #d1d1d1;
  --dark-neutral-84: #d6d6d6;
  --dark-neutral-86: #dbdbdb;
  --dark-neutral-88: #e0e0e0;
  --dark-neutral-90: #e6e6e6;
  --dark-neutral-92: #ebebeb;
  --dark-neutral-94: #f0f0f0;
  --dark-neutral-96: #f5f5f5;
  --dark-neutral-98: #fafafa;
  --dark-neutral-100: #ffffff;

  --light-neutral-00: #ffffff;
  --light-neutral-02: #fafafa;
  --light-neutral-04: #f5f5f5;
  --light-neutral-06: #f0f0f0;
  --light-neutral-08: #ebebeb;
  --light-neutral-10: #e6e6e6;
  --light-neutral-12: #e0e0e0;
  --light-neutral-14: #dbdbdb;
  --light-neutral-16: #d6d6d6;
  --light-neutral-18: #d1d1d1;
  --light-neutral-20: #cccccc;
  --light-neutral-22: #c7c7c7;
  --light-neutral-24: #c2c2c2;
  --light-neutral-26: #bdbdbd;
  --light-neutral-28: #b8b8b8;
  --light-neutral-30: #b3b3b3;
  --light-neutral-32: #adadad;
  --light-neutral-34: #a8a8a8;
  --light-neutral-36: #a3a3a3;
  --light-neutral-38: #9e9e9e;
  --light-neutral-40: #999999;
  --light-neutral-42: #949494;
  --light-neutral-44: #8f8f8f;
  --light-neutral-46: #8a8a8a;
  --light-neutral-48: #858585;
  --light-neutral-50: #808080;
  --light-neutral-52: #7a7a7a;
  --light-neutral-54: #757575;
  --light-neutral-56: #707070;
  --light-neutral-58: #6b6b6b;
  --light-neutral-60: #666666;
  --light-neutral-62: #616161;
  --light-neutral-64: #5c5c5c;
  --light-neutral-66: #575757;
  --light-neutral-68: #525252;
  --light-neutral-70: #4d4d4d;
  --light-neutral-72: #474747;
  --light-neutral-74: #424242;
  --light-neutral-76: #3d3d3d;
  --light-neutral-78: #383838;
  --light-neutral-80: #333333;
  --light-neutral-82: #2e2e2e;
  --light-neutral-84: #292929;
  --light-neutral-86: #242424;
  --light-neutral-88: #1f1f1f;
  --light-neutral-90: #1a1a1a;
  --light-neutral-92: #141414;
  --light-neutral-94: #0f0f0f;
  --light-neutral-96: #0a0a0a;
  --light-neutral-98: #050505;
  --light-neutral-100: #000000;

  --tbdx-neutral-text: unset;
  --tbdx-neutral-base: unset;

  --tbdx-neutral-02: unset;
  --tbdx-neutral-04: unset;
  --tbdx-neutral-06: unset;
  --tbdx-neutral-08: unset;
  --tbdx-neutral-10: unset;
  --tbdx-neutral-12: unset;
  --tbdx-neutral-14: unset;
  --tbdx-neutral-16: unset;
  --tbdx-neutral-18: unset;
  --tbdx-neutral-20: unset;
  --tbdx-neutral-22: unset;
  --tbdx-neutral-24: unset;
  --tbdx-neutral-26: unset;
  --tbdx-neutral-28: unset;
  --tbdx-neutral-30: unset;
  --tbdx-neutral-32: unset;
  --tbdx-neutral-34: unset;
  --tbdx-neutral-36: unset;
  --tbdx-neutral-38: unset;
  --tbdx-neutral-40: unset;
  --tbdx-neutral-42: unset;
  --tbdx-neutral-44: unset;
  --tbdx-neutral-46: unset;
  --tbdx-neutral-48: unset;
  --tbdx-neutral-50: unset;
  --tbdx-neutral-52: unset;
  --tbdx-neutral-54: unset;
  --tbdx-neutral-56: unset;
  --tbdx-neutral-58: unset;
  --tbdx-neutral-60: unset;
  --tbdx-neutral-62: unset;
  --tbdx-neutral-64: unset;
  --tbdx-neutral-66: unset;
  --tbdx-neutral-68: unset;
  --tbdx-neutral-70: unset;
  --tbdx-neutral-72: unset;
  --tbdx-neutral-74: unset;
  --tbdx-neutral-76: unset;
  --tbdx-neutral-78: unset;
  --tbdx-neutral-80: unset;
  --tbdx-neutral-82: unset;
  --tbdx-neutral-84: unset;
  --tbdx-neutral-86: unset;
  --tbdx-neutral-88: unset;
  --tbdx-neutral-90: unset;
  --tbdx-neutral-92: unset;
  --tbdx-neutral-94: unset;
  --tbdx-neutral-96: unset;
  --tbdx-neutral-98: unset;
}

html[data-prefers-color-scheme='dark'] {
  --tbdx-neutral-text: var(--dark-neutral-100);
  --tbdx-neutral-base: var(--dark-neutral-00);

  --tbdx-neutral-00: var(--dark-neutral-00);
  --tbdx-neutral-02: var(--dark-neutral-02);
  --tbdx-neutral-04: var(--dark-neutral-04);
  --tbdx-neutral-06: var(--dark-neutral-06);
  --tbdx-neutral-08: var(--dark-neutral-08);
  --tbdx-neutral-10: var(--dark-neutral-10);
  --tbdx-neutral-12: var(--dark-neutral-12);
  --tbdx-neutral-14: var(--dark-neutral-14);
  --tbdx-neutral-16: var(--dark-neutral-16);
  --tbdx-neutral-18: var(--dark-neutral-18);
  --tbdx-neutral-20: var(--dark-neutral-20);
  --tbdx-neutral-22: var(--dark-neutral-22);
  --tbdx-neutral-24: var(--dark-neutral-24);
  --tbdx-neutral-26: var(--dark-neutral-26);
  --tbdx-neutral-28: var(--dark-neutral-28);
  --tbdx-neutral-30: var(--dark-neutral-30);
  --tbdx-neutral-32: var(--dark-neutral-32);
  --tbdx-neutral-34: var(--dark-neutral-34);
  --tbdx-neutral-36: var(--dark-neutral-36);
  --tbdx-neutral-38: var(--dark-neutral-38);
  --tbdx-neutral-40: var(--dark-neutral-40);
  --tbdx-neutral-42: var(--dark-neutral-42);
  --tbdx-neutral-44: var(--dark-neutral-44);
  --tbdx-neutral-46: var(--dark-neutral-46);
  --tbdx-neutral-48: var(--dark-neutral-48);
  --tbdx-neutral-50: var(--dark-neutral-50);
  --tbdx-neutral-52: var(--dark-neutral-52);
  --tbdx-neutral-54: var(--dark-neutral-54);
  --tbdx-neutral-56: var(--dark-neutral-56);
  --tbdx-neutral-58: var(--dark-neutral-58);
  --tbdx-neutral-60: var(--dark-neutral-60);
  --tbdx-neutral-62: var(--dark-neutral-62);
  --tbdx-neutral-64: var(--dark-neutral-64);
  --tbdx-neutral-66: var(--dark-neutral-66);
  --tbdx-neutral-68: var(--dark-neutral-68);
  --tbdx-neutral-70: var(--dark-neutral-70);
  --tbdx-neutral-72: var(--dark-neutral-72);
  --tbdx-neutral-74: var(--dark-neutral-74);
  --tbdx-neutral-76: var(--dark-neutral-76);
  --tbdx-neutral-78: var(--dark-neutral-78);
  --tbdx-neutral-80: var(--dark-neutral-80);
  --tbdx-neutral-82: var(--dark-neutral-82);
  --tbdx-neutral-84: var(--dark-neutral-84);
  --tbdx-neutral-86: var(--dark-neutral-86);
  --tbdx-neutral-88: var(--dark-neutral-88);
  --tbdx-neutral-90: var(--dark-neutral-90);
  --tbdx-neutral-92: var(--dark-neutral-92);
  --tbdx-neutral-94: var(--dark-neutral-94);
  --tbdx-neutral-96: var(--dark-neutral-96);
  --tbdx-neutral-98: var(--dark-neutral-98);
  --tbdx-neutral-100: var(--dark-neutral-100);
}

html[data-prefers-color-scheme='light'] {
  --tbdx-neutral-text: var(--light-neutral-100);
  --tbdx-neutral-base: var(--light-neutral-00);

  --tbdx-neutral-02: var(--light-neutral-02);
  --tbdx-neutral-04: var(--light-neutral-04);
  --tbdx-neutral-06: var(--light-neutral-06);
  --tbdx-neutral-08: var(--light-neutral-08);
  --tbdx-neutral-10: var(--light-neutral-10);
  --tbdx-neutral-12: var(--light-neutral-12);
  --tbdx-neutral-14: var(--light-neutral-14);
  --tbdx-neutral-16: var(--light-neutral-16);
  --tbdx-neutral-18: var(--light-neutral-18);
  --tbdx-neutral-20: var(--light-neutral-20);
  --tbdx-neutral-22: var(--light-neutral-22);
  --tbdx-neutral-24: var(--light-neutral-24);
  --tbdx-neutral-26: var(--light-neutral-26);
  --tbdx-neutral-28: var(--light-neutral-28);
  --tbdx-neutral-30: var(--light-neutral-30);
  --tbdx-neutral-32: var(--light-neutral-32);
  --tbdx-neutral-34: var(--light-neutral-34);
  --tbdx-neutral-36: var(--light-neutral-36);
  --tbdx-neutral-38: var(--light-neutral-38);
  --tbdx-neutral-40: var(--light-neutral-40);
  --tbdx-neutral-42: var(--light-neutral-42);
  --tbdx-neutral-44: var(--light-neutral-44);
  --tbdx-neutral-46: var(--light-neutral-46);
  --tbdx-neutral-48: var(--light-neutral-48);
  --tbdx-neutral-50: var(--light-neutral-50);
  --tbdx-neutral-52: var(--light-neutral-52);
  --tbdx-neutral-54: var(--light-neutral-54);
  --tbdx-neutral-56: var(--light-neutral-56);
  --tbdx-neutral-58: var(--light-neutral-58);
  --tbdx-neutral-60: var(--light-neutral-60);
  --tbdx-neutral-62: var(--light-neutral-62);
  --tbdx-neutral-64: var(--light-neutral-64);
  --tbdx-neutral-66: var(--light-neutral-66);
  --tbdx-neutral-68: var(--light-neutral-68);
  --tbdx-neutral-70: var(--light-neutral-70);
  --tbdx-neutral-72: var(--light-neutral-72);
  --tbdx-neutral-74: var(--light-neutral-74);
  --tbdx-neutral-76: var(--light-neutral-76);
  --tbdx-neutral-78: var(--light-neutral-78);
  --tbdx-neutral-80: var(--light-neutral-80);
  --tbdx-neutral-82: var(--light-neutral-82);
  --tbdx-neutral-84: var(--light-neutral-84);
  --tbdx-neutral-86: var(--light-neutral-86);
  --tbdx-neutral-88: var(--light-neutral-88);
  --tbdx-neutral-90: var(--light-neutral-90);
  --tbdx-neutral-92: var(--light-neutral-92);
  --tbdx-neutral-94: var(--light-neutral-94);
  --tbdx-neutral-96: var(--light-neutral-96);
  --tbdx-neutral-98: var(--light-neutral-98);
}
