:root {
  --rgb-mode-light-red: rgb(255, 59, 48);
  --rgba-mode-light-red: 255, 59, 48;

  --rgb-mode-dark-red: rgb(255, 69, 58);
  --rgba-mode-dark-red: 255, 69, 58;

  --rgb-mode-light-red-a11y: rgb(215, 0, 21);
  --rgba-mode-light-red-a11y: 215, 0, 21;

  --rgb-mode-dark-red-a11y: rgb(255, 105, 97);
  --rgba-mode-dark-red-a11y: 255, 105, 97;

  --rgb-mode-light-orange: rgb(255, 149, 0);
  --rgba-mode-light-orange: 255, 149, 0;

  --rgb-mode-dark-orange: rgb(255, 159, 10);
  --rgba-mode-dark-orange: 255, 159, 10;

  --rgb-mode-light-orange-a11y: rgb(201, 52, 0);
  --rgba-mode-light-orange-a11y: 201, 52, 0;

  --rgb-mode-dark-orange-a11y: rgb(255, 179, 64);
  --rgba-mode-dark-orange-a11y: 255, 179, 64;

  --rgb-mode-light-yellow: rgb(255, 204, 0);
  --rgba-mode-light-yellow: 255, 204, 0;

  --rgb-mode-dark-yellow: rgb(255, 214, 10);
  --rgba-mode-dark-yellow: 255, 214, 10;

  --rgb-mode-light-yellow-a11y: rgb(160, 90, 0);
  --rgba-mode-light-yellow-a11y: 160, 90, 0;

  --rgb-mode-dark-yellow-a11y: rgb(255, 212, 38);
  --rgba-mode-dark-yellow-a11y: 255, 212, 38;

  --rgb-mode-light-green: rgb(40, 205, 65);
  --rgba-mode-light-green: 40, 205, 65;

  --rgb-mode-dark-green: rgb(50, 215, 75);
  --rgba-mode-dark-green: 50, 215, 75;

  --rgb-mode-light-green-a11y: rgb(0, 125, 27);
  --rgba-mode-light-green-a11y: 0, 125, 27;

  --rgb-mode-dark-green-a11y: rgb(49, 222, 75);
  --rgba-mode-dark-green-a11y: 49, 222, 75;

  --rgb-mode-light-mint: rgb(0, 199, 190);
  --rgba-mode-light-mint: 0, 199, 190;

  --rgb-mode-dark-mint: rgb(102, 212, 207);
  --rgba-mode-dark-mint: 102, 212, 207;

  --rgb-mode-light-mint-a11y: rgb(12, 129, 123);
  --rgba-mode-light-mint-a11y: 12, 129, 123;

  --rgb-mode-dark-mint-a11y: rgb(102, 212, 207);
  --rgba-mode-dark-mint-a11y: 102, 212, 207;

  --rgb-mode-light-teal: rgb(89, 173, 196);
  --rgba-mode-light-teal: 89, 173, 196;

  --rgb-mode-dark-teal: rgb(106, 196, 220);
  --rgba-mode-dark-teal: 106, 196, 220;

  --rgb-mode-light-teal-a11y: rgb(0, 130, 153);
  --rgba-mode-light-teal-a11y: 0, 130, 153;

  --rgb-mode-dark-teal-a11y: rgb(93, 230, 255);
  --rgba-mode-dark-teal-a11y: 93, 230, 255;

  --rgb-mode-light-cyan: rgb(85, 190, 240);
  --rgba-mode-light-cyan: 85, 190, 240;

  --rgb-mode-dark-cyan: rgb(90, 200, 245);
  --rgba-mode-dark-cyan: 90, 200, 245;

  --rgb-mode-light-cyan-a11y: rgb(0, 113, 164);
  --rgba-mode-light-cyan-a11y: 0, 113, 164;

  --rgb-mode-dark-cyan-a11y: rgb(112, 215, 255);
  --rgba-mode-dark-cyan-a11y: 112, 215, 255;

  --rgb-mode-light-blue: rgb(0, 122, 255);
  --rgba-mode-light-blue: 0, 122, 255;

  --rgb-mode-dark-blue: rgb(10, 132, 255);
  --rgba-mode-dark-blue: 10, 132, 255;

  --rgb-mode-light-blue-a11y: rgb(0, 64, 221);
  --rgba-mode-light-blue-a11y: 0, 64, 221;

  --rgb-mode-dark-blue-a11y: rgb(64, 156, 255);
  --rgba-mode-dark-blue-a11y: 64, 156, 255;

  --rgb-mode-light-indigo: rgb(88, 86, 214);
  --rgba-mode-light-indigo: 88, 86, 214;

  --rgb-mode-dark-indigo: rgb(94, 92, 230);
  --rgba-mode-dark-indigo: 94, 92, 230;

  --rgb-mode-light-indigo-a11y: rgb(54, 52, 163);
  --rgba-mode-light-indigo-a11y: 54, 52, 163;

  --rgb-mode-dark-indigo-a11y: rgb(125, 122, 255);
  --rgba-mode-dark-indigo-a11y: 125, 122, 255;

  --rgb-mode-light-purple: rgb(175, 82, 222);
  --rgba-mode-light-purple: 175, 82, 222;

  --rgb-mode-dark-purple: rgb(191, 90, 242);
  --rgba-mode-dark-purple: 191, 90, 242;

  --rgb-mode-light-purple-a11y: rgb(173, 68, 171);
  --rgba-mode-light-purple-a11y: 173, 68, 171;

  --rgb-mode-dark-purple-a11y: rgb(218, 143, 255);
  --rgba-mode-dark-purple-a11y: 218, 143, 255;

  --rgb-mode-light-pink: rgb(255, 45, 85);
  --rgba-mode-light-pink: 255, 45, 85;

  --rgb-mode-dark-pink: rgb(255, 55, 95);
  --rgba-mode-dark-pink: 255, 55, 95;

  --rgb-mode-light-pink-a11y: rgb(211, 15, 69);
  --rgba-mode-light-pink-a11y: 211, 15, 69;

  --rgb-mode-dark-pink-a11y: rgb(255, 100, 130);
  --rgba-mode-dark-pink-a11y: 255, 100, 130;

  --rgb-mode-light-brown: rgb(162, 132, 94);
  --rgba-mode-light-brown: 162, 132, 94;

  --rgb-mode-dark-brown: rgb(172, 142, 104);
  --rgba-mode-dark-brown: 172, 142, 104;

  --rgb-mode-light-brown-a11y: rgb(127, 101, 69);
  --rgba-mode-light-brown-a11y: 127, 101, 69;

  --rgb-mode-dark-brown-a11y: rgb(181, 148, 105);
  --rgba-mode-dark-brown-a11y: 181, 148, 105;

  --rgb-mode-light-gray: rgb(142, 142, 147);
  --rgba-mode-light-gray: 142, 142, 147;

  --rgb-mode-dark-gray: rgb(152, 152, 157);
  --rgba-mode-dark-gray: 152, 152, 157;

  --rgb-mode-light-gray-a11y: rgb(105, 105, 110);
  --rgba-mode-light-gray-a11y: 105, 105, 110;

  --rgb-mode-dark-gray-a11y: rgb(152, 152, 157);
  --rgba-mode-dark-gray-a11y: 152, 152, 157;

  --rgb-mode-dark-base: rgb(14, 14, 15);
  --rgba-mode-dark-base: 14, 14, 15;

  --rgb-mode-dark-base-a11y: rgb(08, 08, 09);
  --rgba-mode-dark-base-a11y: 08, 08, 09;

  --rgb-mode-light-base: rgb(250, 250, 255);
  --rgba-mode-light-base: 250, 250, 255;

  --rgb-mode-light-base-a11y: rgb(255, 255, 255);
  --rgba-mode-light-base-a11y: 255, 255, 255;

  --rgb-mode-dark-shade: rgb(22, 22, 22);
  --rgba-mode-dark-shade: 22, 22, 22;

  --rgb-mode-dark-shade-a11y: rgb(13, 13, 14);
  --rgba-mode-dark-shade-a11y: 13, 13, 14;

  --rgb-mode-light-shade: rgb(235, 235, 236);
  --rgba-mode-light-shade: 235, 235, 236;

  --rgb-mode-light-shade-a11y: rgb(230, 230, 245);
  --rgba-mode-light-shade-a11y: 230, 230, 245;

  --c-focus: #0073ff;
}

[data-prefers-color-scheme='dark'] {
  --c-step: 3%;
  --c-base: var(--rgb-mode-dark-base);
  --c-tint: var(--rgb-mode-light-base);
  --c-shade: var(--rgb-mode-dark-shade);
  --c-shadow: transparent;

  [data-scheme='secondary'] {
    --c-step: 5%;
    --c-base: var(--rgb-mode-light-base);
    --c-tint: var(--rgb-mode-dark-base);
    --c-shade: var(--rgb-mode-light-shade);
    --c-shadow: var(--rgba-mode-dark-base);
  }

  &[data-prefers-color-contrast='optimized'] {
    --c-step: 3%;
    --c-base: var(--rgb-mode-dark-base-a11y);
    --c-tint: var(--rgb-mode-light-base-a11y);
    --c-shade: var(--rgb-mode-dark-shade-a11y);
    --c-shadow: transparent;

    [data-scheme='secondary'] {
      --c-step: 5%;
      --c-base: var(--rgb-mode-light-base-a11y);
      --c-tint: var(--rgb-mode-dark-base-a11y);
      --c-shade: var(--rgb-mode-light-shade-a11y);
      --c-shadow: var(--rgba-mode-dark-base-a11y);
    }
  }
}

[data-prefers-color-scheme='light'] {
  --c-step: 5%;
  --c-base: var(--rgb-mode-light-base);
  --c-tint: var(--rgb-mode-dark-base);
  --c-shade: var(--rgb-mode-light-shade);
  --c-shadow: var(--rgba-mode-dark-base);

  [data-scheme='secondary'] {
    --c-step: 3%;
    --c-base: var(--rgb-mode-dark-base);
    --c-tint: var(--rgb-mode-light-base);
    --c-shade: var(--rgb-mode-dark-shade);
    --c-shadow: transparent;
  }

  &[data-prefers-color-contrast='optimized'] {
    --c-step: 5%;
    --c-base: var(--rgb-mode-light-base-a11y);
    --c-tint: var(--rgb-mode-dark-base-a11y);
    --c-shade: var(--rgb-mode-light-shade-a11y);
    --c-shadow: var(--rgba-mode-dark-base-a11y);

    [data-scheme='secondary'] {
      --c-step: 3%;
      --c-base: var(--rgb-mode-dark-base-a11y);
      --c-tint: var(--rgb-mode-light-base-a11y);
      --c-shade: var(--rgb-mode-dark-shade-a11y);
      --c-shadow: transparent;
    }
  }
}

[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'],
[data-prefers-color-scheme='dark'] [data-scheme='secondary'],
[data-prefers-color-scheme='light'] [data-scheme='secondary'] {
  --c-s-1: calc(100% - calc(var(--c-step) * 1));
  --c-s-2: calc(100% - calc(var(--c-step) * 2));
  --c-s-3: calc(100% - calc(var(--c-step) * 3));
  --c-s-4: calc(100% - calc(var(--c-step) * 4));
  --c-s-5: calc(100% - calc(var(--c-step) * 5));
  --c-s-6: calc(100% - calc(var(--c-step) * 6));
  --c-s-7: calc(100% - calc(var(--c-step) * 7));
  --c-s-8: calc(100% - calc(var(--c-step) * 8));
  --c-s-9: calc(100% - calc(var(--c-step) * 9));
  --c-s-10: calc(100% - calc(var(--c-step) * 10));
  --c-s-11: calc(100% - calc(var(--c-step) * 11));
  --c-s-12: calc(100% - calc(var(--c-step) * 12));
  --c-s-13: calc(100% - calc(var(--c-step) * 13));
  --c-s-14: calc(100% - calc(var(--c-step) * 14));
  --c-s-15: calc(100% - calc(var(--c-step) * 15));
  --c-s-16: calc(100% - calc(var(--c-step) * 16));

  --c-shadow: color-mix(in srgb, var(--c-tint) var(--c-s-1), var(--c-base));

  --c-bg-1: color-mix(in srgb, var(--c-base) var(--c-s-1), var(--c-tint));
  --c-bg-2: color-mix(in srgb, var(--c-base) var(--c-s-2), var(--c-tint));
  --c-bg-3: color-mix(in srgb, var(--c-base) var(--c-s-3), var(--c-tint));
  --c-bg-4: color-mix(in srgb, var(--c-base) var(--c-s-4), var(--c-tint));
  --c-bg-5: color-mix(in srgb, var(--c-base) var(--c-s-5), var(--c-tint));

  --c-text-1: color-mix(in srgb, var(--c-tint) var(--c-s-1), var(--c-base));
  --c-text-2: color-mix(in srgb, var(--c-tint) var(--c-s-3), var(--c-base));
  --c-text-3: color-mix(in srgb, var(--c-tint) var(--c-s-5), var(--c-base));
  --c-text-4: color-mix(in srgb, var(--c-tint) var(--c-s-7), var(--c-base));
  --c-text-5: color-mix(in srgb, var(--c-tint) var(--c-s-9), var(--c-base));

  --c-border-1: color-mix(in srgb, var(--c-shade) var(--c-s-2), var(--c-tint));
  --c-border-2: color-mix(in srgb, var(--c-shade) var(--c-s-5), var(--c-tint));
  --c-border-3: color-mix(in srgb, var(--c-shade) var(--c-s-6), var(--c-tint));
  --c-border-4: color-mix(in srgb, var(--c-shade) var(--c-s-7), var(--c-tint));
  --c-border-5: color-mix(in srgb, var(--c-shade) var(--c-s-8), var(--c-tint));

  --c-button-tt: var(--c-text-1);
  --c-button-bb: color-mix(in srgb, var(--c-base) var(--c-s-2), var(--c-tint));
  --c-button-hh: color-mix(in srgb, var(--c-base) var(--c-s-3), var(--c-tint));
  --c-button-aa: color-mix(in srgb, var(--c-base) var(--c-s-4), var(--c-tint));
  --c-button-ss: color-mix(in srgb, var(--c-base) var(--c-s-5), var(--c-tint));
  --c-button-dd: color-mix(in srgb, var(--c-base) var(--c-s-8), var(--c-tint));

  --c-anchor-tt: var(--c-text-1);
  --c-anchor-bb: color-mix(in srgb, var(--c-base) var(--c-s-1), var(--c-tint));
  --c-anchor-hh: color-mix(in srgb, var(--c-base) var(--c-s-2), var(--c-tint));
  --c-anchor-aa: color-mix(in srgb, var(--c-base) var(--c-s-3), var(--c-tint));
  --c-anchor-ss: color-mix(in srgb, var(--c-base) var(--c-s-4), var(--c-tint));
  --c-anchor-dd: color-mix(in srgb, var(--c-base) var(--c-s-5), var(--c-tint));

  --c-link-tt: var(--c-text-1);
  --c-link-bb: color-mix(in srgb, var(--c-base) var(--c-s-1), var(--c-tint));
  --c-link-hh: color-mix(in srgb, var(--c-base) var(--c-s-2), var(--c-tint));
  --c-link-aa: color-mix(in srgb, var(--c-base) var(--c-s-3), var(--c-tint));
  --c-link-ss: color-mix(in srgb, var(--c-base) var(--c-s-4), var(--c-tint));
  --c-link-dd: color-mix(in srgb, var(--c-base) var(--c-s-5), var(--c-tint));
}

[data-prefers-color-scheme='light'] {
  &[data-prefers-color-accent='red'] {
    --c-accent: var(--rgb-mode-light-red);
    --c-a-accent: var(--rgba-mode-light-red);
  }
  &[data-prefers-color-accent='orange'] {
    --c-accent: var(--rgb-mode-light-orange);
    --c-a-accent: var(--rgba-mode-light-orange);
  }
  &[data-prefers-color-accent='yellow'] {
    --c-accent: var(--rgb-mode-light-yellow);
    --c-a-accent: var(--rgba-mode-light-yellow);
  }
  &[data-prefers-color-accent='green'] {
    --c-accent: var(--rgb-mode-light-green);
    --c-a-accent: var(--rgba-mode-light-green);
  }
  &[data-prefers-color-accent='mint'] {
    --c-accent: var(--rgb-mode-light-mint);
    --c-a-accent: var(--rgba-mode-light-mint);
  }
  &[data-prefers-color-accent='teal'] {
    --c-accent: var(--rgb-mode-light-teal);
    --c-a-accent: var(--rgba-mode-light-teal);
  }
  &[data-prefers-color-accent='cyan'] {
    --c-accent: var(--rgb-mode-light-cyan);
    --c-a-accent: var(--rgba-mode-light-cyan);
  }
  &[data-prefers-color-accent='blue'] {
    --c-accent: var(--rgb-mode-light-blue);
    --c-a-accent: var(--rgba-mode-light-blue);
  }
  &[data-prefers-color-accent='indigo'] {
    --c-accent: var(--rgb-mode-light-indigo);
    --c-a-accent: var(--rgba-mode-light-indigo);
  }
  &[data-prefers-color-accent='purple'] {
    --c-accent: var(--rgb-mode-light-purple);
    --c-a-accent: var(--rgba-mode-light-purple);
  }
  &[data-prefers-color-accent='pink'] {
    --c-accent: var(--rgb-mode-light-pink);
    --c-a-accent: var(--rgba-mode-light-pink);
  }
  &[data-prefers-color-accent='brown'] {
    --c-accent: var(--rgb-mode-light-brown);
    --c-a-accent: var(--rgba-mode-light-brown);
  }
  &[data-prefers-color-accent='gray'] {
    --c-accent: var(--rgb-mode-light-gray);
    --c-a-accent: var(--rgba-mode-light-gray);
  }

  &[data-prefers-color-contrast='optimized'] {
    &[data-prefers-color-accent='red'] {
      --c-accent: var(--rgb-mode-light-red-a11y);
      --c-a-accent: var(--rgba-mode-light-red-a11y);
    }
    &[data-prefers-color-accent='orange'] {
      --c-accent: var(--rgb-mode-light-orange-a11y);
      --c-a-accent: var(--rgba-mode-light-orange-a11y);
    }
    &[data-prefers-color-accent='yellow'] {
      --c-accent: var(--rgb-mode-light-yellow-a11y);
      --c-a-accent: var(--rgba-mode-light-yellow-a11y);
    }
    &[data-prefers-color-accent='green'] {
      --c-accent: var(--rgb-mode-light-green-a11y);
      --c-a-accent: var(--rgba-mode-light-green-a11y);
    }
    &[data-prefers-color-accent='mint'] {
      --c-accent: var(--rgb-mode-light-mint-a11y);
      --c-a-accent: var(--rgba-mode-light-mint-a11y);
    }
    &[data-prefers-color-accent='teal'] {
      --c-accent: var(--rgb-mode-light-teal-a11y);
      --c-a-accent: var(--rgba-mode-light-teal-a11y);
    }
    &[data-prefers-color-accent='cyan'] {
      --c-accent: var(--rgb-mode-light-cyan-a11y);
      --c-a-accent: var(--rgba-mode-light-cyan-a11y);
    }
    &[data-prefers-color-accent='blue'] {
      --c-accent: var(--rgb-mode-light-blue-a11y);
      --c-a-accent: var(--rgba-mode-light-blue-a11y);
    }
    &[data-prefers-color-accent='indigo'] {
      --c-accent: var(--rgb-mode-light-indigo-a11y);
      --c-a-accent: var(--rgba-mode-light-indigo-a11y);
    }
    &[data-prefers-color-accent='purple'] {
      --c-accent: var(--rgb-mode-light-purple-a11y);
      --c-a-accent: var(--rgba-mode-light-purple-a11y);
    }
    &[data-prefers-color-accent='pink'] {
      --c-accent: var(--rgb-mode-light-pink-a11y);
      --c-a-accent: var(--rgba-mode-light-pink-a11y);
    }
    &[data-prefers-color-accent='brown'] {
      --c-accent: var(--rgb-mode-light-brown-a11y);
      --c-a-accent: var(--rgba-mode-light-brown-a11y);
    }
    &[data-prefers-color-accent='gray'] {
      --c-accent: var(--rgb-mode-light-gray-a11y);
      --c-a-accent: var(--rgba-mode-light-gray-a11y);
    }
  }
}
[data-prefers-color-scheme='dark'] {
  &[data-prefers-color-accent='red'] {
    --c-accent: var(--rgb-mode-dark-red);
    --c-a-accent: var(--rgba-mode-dark-red);
  }
  &[data-prefers-color-accent='orange'] {
    --c-accent: var(--rgb-mode-dark-orange);
    --c-a-accent: var(--rgba-mode-dark-orange);
  }
  &[data-prefers-color-accent='yellow'] {
    --c-accent: var(--rgb-mode-dark-yellow);
    --c-a-accent: var(--rgba-mode-dark-yellow);
  }
  &[data-prefers-color-accent='green'] {
    --c-accent: var(--rgb-mode-dark-green);
    --c-a-accent: var(--rgba-mode-dark-green);
  }
  &[data-prefers-color-accent='mint'] {
    --c-accent: var(--rgb-mode-dark-mint);
    --c-a-accent: var(--rgba-mode-dark-mint);
  }
  &[data-prefers-color-accent='teal'] {
    --c-accent: var(--rgb-mode-dark-teal);
    --c-a-accent: var(--rgba-mode-dark-teal);
  }
  &[data-prefers-color-accent='cyan'] {
    --c-accent: var(--rgb-mode-dark-cyan);
    --c-a-accent: var(--rgba-mode-dark-cyan);
  }
  &[data-prefers-color-accent='blue'] {
    --c-accent: var(--rgb-mode-dark-blue);
    --c-a-accent: var(--rgba-mode-dark-blue);
  }
  &[data-prefers-color-accent='indigo'] {
    --c-accent: var(--rgb-mode-dark-indigo);
    --c-a-accent: var(--rgba-mode-dark-indigo);
  }
  &[data-prefers-color-accent='purple'] {
    --c-accent: var(--rgb-mode-dark-purple);
    --c-a-accent: var(--rgba-mode-dark-purple);
  }
  &[data-prefers-color-accent='pink'] {
    --c-accent: var(--rgb-mode-dark-pink);
    --c-a-accent: var(--rgba-mode-dark-pink);
  }
  &[data-prefers-color-accent='brown'] {
    --c-accent: var(--rgb-mode-dark-brown);
    --c-a-accent: var(--rgba-mode-dark-brown);
  }
  &[data-prefers-color-accent='gray'] {
    --c-accent: var(--rgb-mode-dark-gray);
    --c-a-accent: var(--rgba-mode-dark-gray);
  }

  &[data-prefers-color-contrast='optimized'] {
    &[data-prefers-color-accent='red'] {
      --c-accent: var(--rgb-mode-dark-red-a11y);
      --c-a-accent: var(--rgba-mode-dark-red-a11y);
    }
    &[data-prefers-color-accent='orange'] {
      --c-accent: var(--rgb-mode-dark-orange-a11y);
      --c-a-accent: var(--rgba-mode-dark-orange-a11y);
    }
    &[data-prefers-color-accent='yellow'] {
      --c-accent: var(--rgb-mode-dark-yellow-a11y);
      --c-a-accent: var(--rgba-mode-dark-yellow-a11y);
    }
    &[data-prefers-color-accent='green'] {
      --c-accent: var(--rgb-mode-dark-green-a11y);
      --c-a-accent: var(--rgba-mode-dark-green-a11y);
    }
    &[data-prefers-color-accent='mint'] {
      --c-accent: var(--rgb-mode-dark-mint-a11y);
      --c-a-accent: var(--rgba-mode-dark-mint-a11y);
    }
    &[data-prefers-color-accent='teal'] {
      --c-accent: var(--rgb-mode-dark-teal-a11y);
      --c-a-accent: var(--rgba-mode-dark-teal-a11y);
    }
    &[data-prefers-color-accent='cyan'] {
      --c-accent: var(--rgb-mode-dark-cyan-a11y);
      --c-a-accent: var(--rgba-mode-dark-cyan-a11y);
    }
    &[data-prefers-color-accent='blue'] {
      --c-accent: var(--rgb-mode-dark-blue-a11y);
      --c-a-accent: var(--rgba-mode-dark-blue-a11y);
    }
    &[data-prefers-color-accent='indigo'] {
      --c-accent: var(--rgb-mode-dark-indigo-a11y);
      --c-a-accent: var(--rgba-mode-dark-indigo-a11y);
    }
    &[data-prefers-color-accent='purple'] {
      --c-accent: var(--rgb-mode-dark-purple-a11y);
      --c-a-accent: var(--rgba-mode-dark-purple-a11y);
    }
    &[data-prefers-color-accent='pink'] {
      --c-accent: var(--rgb-mode-dark-pink-a11y);
      --c-a-accent: var(--rgba-mode-dark-pink-a11y);
    }
    &[data-prefers-color-accent='brown'] {
      --c-accent: var(--rgb-mode-dark-brown-a11y);
      --c-a-accent: var(--rgba-mode-dark-brown-a11y);
    }
    &[data-prefers-color-accent='gray'] {
      --c-accent: var(--rgb-mode-dark-gray-a11y);
      --c-a-accent: var(--rgba-mode-dark-gray-a11y);
    }
  }
}
