@use '../tokens' as tokens;

$font-map: (
  'standard': (
    200: tokens.$font-family-xlt,
    300: tokens.$font-family-lgt,
    400: tokens.$font-family-reg,
    500: tokens.$font-family-med,
    600: tokens.$font-family-bld,
    700: tokens.$font-family-xbd,
  ),
  'italic': (
    200: tokens.$font-family-xlt-ital,
    300: tokens.$font-family-lgt-ital,
    400: tokens.$font-family-reg-ital,
    500: tokens.$font-family-med-ital,
    600: tokens.$font-family-bld-ital,
    700: tokens.$font-family-xbd-ital,
  ),
);

@each $font-type, $family-map in $font-map {
  @each $weight, $family in $family-map {
    @font-face {
      font-family: $family;
      src:
        url('/fonts/general-sans/ttf/#{$family}.ttf') format('ttf'),
        url('/fonts/general-sans/woff/#{$family}.woff') format('woff'),
        url('/fonts/general-sans/woff2/#{$family}.woff2') format('woff2');
      font-weight: $weight;
      display: swap;
    }
  }
}

html,
body {
  font-family: tokens.$font-family-reg;
}
