@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Thin.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ThinItalic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ExtraLight.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ExtraLightItalic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Light.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-LightItalic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Regular.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Italic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Medium.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-MediumItalic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBold.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBoldItalic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Bold.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-BoldItalic.ttf');
  font-family: 'ibm-plex-sans-condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Thin.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-ThinItalic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-ExtraLight.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-ExtraLightItalic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Light.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-LightItalic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Italic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-MediumItalic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-SemiBoldItalic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf');
  font-family: 'ibm-plex-sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ibm-plex-sans/IBMPlexSans-BoldItalic.ttf');
  font-family: 'ibm-plex-sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
