:root {
  color-scheme: var(--tbdx-scheme);
}

.Button {
  color: inherit;
  border-color: transparent;
  background-color: transparent;
}

.Radio,
.Button,
.Switch,
.Checkbox {
  --tbdx-focus-border: unset;
  --tbdx-focus-outline: unset;
  --tbdx-focus-background: unset;

  border: 1.5px solid var(--tbdx-focus-border, transparent);
  outline: 1.5px solid var(--tbdx-focus-outline, transparent);

  &:focus:not(:focus-visible) {
    --tbdx-focus-outline: transparent;
    outline-offset: -1.5px;
  }

  &:focus:focus-visible {
    --tbdx-focus-outline: var(--tbdx-indigo-6);
    outline-offset: 1px;
  }
}

.tbdx-swatch {
  font-size: 0.7rem;
  padding-block: 1.2rem;
  padding-inline: 2.4rem;
}

[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  --tbdx-orange-0: hsl(37, 99%, 94%);
  --tbdx-orange-1: hsl(34, 99%, 90%);
  --tbdx-orange-2: hsl(32, 99%, 81%);
  --tbdx-orange-3: hsl(32, 97%, 70%);
  --tbdx-orange-4: hsl(32, 97%, 61%);
  --tbdx-orange-5: hsl(32, 97%, 55%);
  --tbdx-orange-6: hsl(32, 98%, 52%);
  --tbdx-orange-7: hsl(32, 99%, 44%);
  --tbdx-orange-8: hsl(32, 99%, 39%);
  --tbdx-orange-9: hsl(31, 99%, 34%);

  --tbdx-orange-0-A4: hsla(37, 99%, 94%, 0.4);
  --tbdx-orange-1-A4: hsla(34, 99%, 90%, 0.4);
  --tbdx-orange-2-A4: hsla(32, 99%, 81%, 0.4);
  --tbdx-orange-3-A4: hsla(32, 97%, 70%, 0.4);
  --tbdx-orange-4-A4: hsla(32, 97%, 61%, 0.4);
  --tbdx-orange-5-A4: hsla(32, 97%, 55%, 0.4);
  --tbdx-orange-6-A4: hsla(32, 98%, 52%, 0.4);
  --tbdx-orange-7-A4: hsla(32, 99%, 44%, 0.4);
  --tbdx-orange-8-A4: hsla(32, 99%, 39%, 0.4);
  --tbdx-orange-9-A4: hsla(31, 99%, 34%, 0.4);

  --tbdx-yellow-0: hsl(58, 86%, 95%);
  --tbdx-yellow-1: hsl(57, 73%, 90%);
  --tbdx-yellow-2: hsl(57, 70%, 80%);
  --tbdx-yellow-3: hsl(57, 69%, 70%);
  --tbdx-yellow-4: hsl(57, 69%, 61%);
  --tbdx-yellow-5: hsl(57, 69%, 55%);
  --tbdx-yellow-6: hsl(57, 69%, 52%);
  --tbdx-yellow-7: hsl(57, 71%, 44%);
  --tbdx-yellow-8: hsl(57, 77%, 38%);
  --tbdx-yellow-9: hsl(57, 96%, 29%);

  --tbdx-yellow-0-A4: hsla(58, 86%, 95%, 0.4);
  --tbdx-yellow-1-A4: hsla(57, 73%, 90%, 0.4);
  --tbdx-yellow-2-A4: hsla(57, 70%, 80%, 0.4);
  --tbdx-yellow-3-A4: hsla(57, 69%, 70%, 0.4);
  --tbdx-yellow-4-A4: hsla(57, 69%, 61%, 0.4);
  --tbdx-yellow-5-A4: hsla(57, 69%, 55%, 0.4);
  --tbdx-yellow-6-A4: hsla(57, 69%, 52%, 0.4);
  --tbdx-yellow-7-A4: hsla(57, 71%, 44%, 0.4);
  --tbdx-yellow-8-A4: hsla(57, 77%, 38%, 0.4);
  --tbdx-yellow-9-A4: hsla(57, 96%, 29%, 0.4);

  --tbdx-green-0: hsl(142, 93%, 95%);
  --tbdx-green-1: hsl(142, 76%, 90%);
  --tbdx-green-2: hsl(140, 72%, 80%);
  --tbdx-green-3: hsl(140, 73%, 70%);
  --tbdx-green-4: hsl(140, 72%, 61%);
  --tbdx-green-5: hsl(139, 72%, 55%);
  --tbdx-green-6: hsl(140, 72%, 52%);
  --tbdx-green-7: hsl(141, 77%, 44%);
  --tbdx-green-8: hsl(142, 87%, 37%);
  --tbdx-green-9: hsl(144, 99%, 29%);

  --tbdx-green-0-A4: hsla(142, 93%, 95%, 0.4);
  --tbdx-green-1-A4: hsla(142, 76%, 90%, 0.4);
  --tbdx-green-2-A4: hsla(140, 72%, 80%, 0.4);
  --tbdx-green-3-A4: hsla(140, 73%, 70%, 0.4);
  --tbdx-green-4-A4: hsla(140, 72%, 61%, 0.4);
  --tbdx-green-5-A4: hsla(139, 72%, 55%, 0.4);
  --tbdx-green-6-A4: hsla(140, 72%, 52%, 0.4);
  --tbdx-green-7-A4: hsla(141, 77%, 44%, 0.4);
  --tbdx-green-8-A4: hsla(142, 87%, 37%, 0.4);
  --tbdx-green-9-A4: hsla(144, 99%, 29%, 0.4);

  --tbdx-cyan-0: hsl(188, 99%, 94%);
  --tbdx-cyan-1: hsl(195, 99%, 90%);
  --tbdx-cyan-2: hsl(197, 99%, 80%);
  --tbdx-cyan-3: hsl(197, 99%, 70%);
  --tbdx-cyan-4: hsl(198, 99%, 62%);
  --tbdx-cyan-5: hsl(198, 99%, 57%);
  --tbdx-cyan-6: hsl(197, 99%, 52%);
  --tbdx-cyan-7: hsl(198, 99%, 45%);
  --tbdx-cyan-8: hsl(198, 99%, 40%);
  --tbdx-cyan-9: hsl(199, 99%, 35%);

  --tbdx-cyan-0-A4: hsla(188, 99%, 94%, 0.4);
  --tbdx-cyan-1-A4: hsla(195, 99%, 90%, 0.4);
  --tbdx-cyan-2-A4: hsla(197, 99%, 80%, 0.4);
  --tbdx-cyan-3-A4: hsla(197, 99%, 70%, 0.4);
  --tbdx-cyan-4-A4: hsla(198, 99%, 62%, 0.4);
  --tbdx-cyan-5-A4: hsla(198, 99%, 57%, 0.4);
  --tbdx-cyan-6-A4: hsla(197, 99%, 52%, 0.4);
  --tbdx-cyan-7-A4: hsla(198, 99%, 45%, 0.4);
  --tbdx-cyan-8-A4: hsla(198, 99%, 40%, 0.4);
  --tbdx-cyan-9-A4: hsla(199, 99%, 35%, 0.4);

  --tbdx-blue-0: hsl(205, 99%, 95%);
  --tbdx-blue-1: hsl(215, 99%, 90%);
  --tbdx-blue-2: hsl(217, 99%, 80%);
  --tbdx-blue-3: hsl(217, 99%, 70%);
  --tbdx-blue-4: hsl(217, 99%, 61%);
  --tbdx-blue-5: hsl(217, 99%, 55%);
  --tbdx-blue-6: hsl(217, 99%, 52%);
  --tbdx-blue-7: hsl(217, 99%, 45%);
  --tbdx-blue-8: hsl(217, 99%, 40%);
  --tbdx-blue-9: hsl(218, 99%, 35%);

  --tbdx-blue-0-A4: hsla(205, 99%, 95%, 0.4);
  --tbdx-blue-1-A4: hsla(215, 99%, 90%, 0.4);
  --tbdx-blue-2-A4: hsla(217, 99%, 80%, 0.4);
  --tbdx-blue-3-A4: hsla(217, 99%, 70%, 0.4);
  --tbdx-blue-4-A4: hsla(217, 99%, 61%, 0.4);
  --tbdx-blue-5-A4: hsla(217, 99%, 55%, 0.4);
  --tbdx-blue-6-A4: hsla(217, 99%, 52%, 0.4);
  --tbdx-blue-7-A4: hsla(217, 99%, 45%, 0.4);
  --tbdx-blue-8-A4: hsla(217, 99%, 40%, 0.4);
  --tbdx-blue-9-A4: hsla(218, 99%, 35%, 0.4);

  --tbdx-indigo-0: hsl(228, 99%, 96%);
  --tbdx-indigo-1: hsl(232, 87%, 91%);
  --tbdx-indigo-2: hsl(233, 72%, 80%);
  --tbdx-indigo-3: hsl(233, 71%, 70%);
  --tbdx-indigo-4: hsl(234, 70%, 60%);
  --tbdx-indigo-5: hsl(234, 71%, 55%);
  --tbdx-indigo-6: hsl(234, 71%, 52%);
  --tbdx-indigo-7: hsl(233, 73%, 45%);
  --tbdx-indigo-8: hsl(232, 76%, 39%);
  --tbdx-indigo-9: hsl(229, 87%, 33%);

  --tbdx-indigo-0-A4: hsla(228, 99%, 96%, 0.4);
  --tbdx-indigo-1-A4: hsla(232, 87%, 91%, 0.4);
  --tbdx-indigo-2-A4: hsla(233, 72%, 80%, 0.4);
  --tbdx-indigo-3-A4: hsla(233, 71%, 70%, 0.4);
  --tbdx-indigo-4-A4: hsla(234, 70%, 60%, 0.4);
  --tbdx-indigo-5-A4: hsla(234, 71%, 55%, 0.4);
  --tbdx-indigo-6-A4: hsla(234, 71%, 52%, 0.4);
  --tbdx-indigo-7-A4: hsla(233, 73%, 45%, 0.4);
  --tbdx-indigo-8-A4: hsla(232, 76%, 39%, 0.4);
  --tbdx-indigo-9-A4: hsla(229, 87%, 33%, 0.4);

  --tbdx-purple-0: hsl(260, 99%, 96%);
  --tbdx-purple-1: hsl(255, 78%, 91%);
  --tbdx-purple-2: hsl(257, 70%, 81%);
  --tbdx-purple-3: hsl(257, 68%, 69%);
  --tbdx-purple-4: hsl(257, 67%, 60%);
  --tbdx-purple-5: hsl(257, 67%, 55%);
  --tbdx-purple-6: hsl(257, 68%, 52%);
  --tbdx-purple-7: hsl(257, 69%, 45%);
  --tbdx-purple-8: hsl(256, 70%, 40%);
  --tbdx-purple-9: hsl(256, 73%, 35%);

  --tbdx-purple-0-A4: hsla(260, 99%, 96%, 0.4);
  --tbdx-purple-1-A4: hsla(255, 78%, 91%, 0.4);
  --tbdx-purple-2-A4: hsla(257, 70%, 81%, 0.4);
  --tbdx-purple-3-A4: hsla(257, 68%, 69%, 0.4);
  --tbdx-purple-4-A4: hsla(257, 67%, 60%, 0.4);
  --tbdx-purple-5-A4: hsla(257, 67%, 55%, 0.4);
  --tbdx-purple-6-A4: hsla(257, 68%, 52%, 0.4);
  --tbdx-purple-7-A4: hsla(257, 69%, 45%, 0.4);
  --tbdx-purple-8-A4: hsla(256, 70%, 40%, 0.4);
  --tbdx-purple-9-A4: hsla(256, 73%, 35%, 0.4);

  --tbdx-violet-0: hsl(272, 99%, 96%);
  --tbdx-violet-1: hsl(268, 82%, 91%);
  --tbdx-violet-2: hsl(267, 71%, 81%);
  --tbdx-violet-3: hsl(267, 70%, 70%);
  --tbdx-violet-4: hsl(267, 69%, 60%);
  --tbdx-violet-5: hsl(267, 69%, 55%);
  --tbdx-violet-6: hsl(267, 70%, 52%);
  --tbdx-violet-7: hsl(267, 71%, 45%);
  --tbdx-violet-8: hsl(267, 72%, 40%);
  --tbdx-violet-9: hsl(267, 76%, 34%);

  --tbdx-violet-0-A4: hsla(272, 99%, 96%, 0.4);
  --tbdx-violet-1-A4: hsla(268, 82%, 91%, 0.4);
  --tbdx-violet-2-A4: hsla(267, 71%, 81%, 0.4);
  --tbdx-violet-3-A4: hsla(267, 70%, 70%, 0.4);
  --tbdx-violet-4-A4: hsla(267, 69%, 60%, 0.4);
  --tbdx-violet-5-A4: hsla(267, 69%, 55%, 0.4);
  --tbdx-violet-6-A4: hsla(267, 70%, 52%, 0.4);
  --tbdx-violet-7-A4: hsla(267, 71%, 45%, 0.4);
  --tbdx-violet-8-A4: hsla(267, 72%, 40%, 0.4);
  --tbdx-violet-9-A4: hsla(267, 76%, 34%, 0.4);

  --tbdx-pink-0: hsl(300, 99%, 96%);
  --tbdx-pink-1: hsl(301, 96%, 91%);
  --tbdx-pink-2: hsl(302, 90%, 81%);
  --tbdx-pink-3: hsl(302, 88%, 70%);
  --tbdx-pink-4: hsl(302, 87%, 61%);
  --tbdx-pink-5: hsl(302, 87%, 55%);
  --tbdx-pink-6: hsl(302, 88%, 52%);
  --tbdx-pink-7: hsl(302, 92%, 44%);
  --tbdx-pink-8: hsl(302, 99%, 37%);
  --tbdx-pink-9: hsl(302, 99%, 33%);

  --tbdx-pink-0-A4: hsla(300, 99%, 96%, 0.4);
  --tbdx-pink-1-A4: hsla(301, 96%, 91%, 0.4);
  --tbdx-pink-2-A4: hsla(302, 90%, 81%, 0.4);
  --tbdx-pink-3-A4: hsla(302, 88%, 70%, 0.4);
  --tbdx-pink-4-A4: hsla(302, 87%, 61%, 0.4);
  --tbdx-pink-5-A4: hsla(302, 87%, 55%, 0.4);
  --tbdx-pink-6-A4: hsla(302, 88%, 52%, 0.4);
  --tbdx-pink-7-A4: hsla(302, 92%, 44%, 0.4);
  --tbdx-pink-8-A4: hsla(302, 99%, 37%, 0.4);
  --tbdx-pink-9-A4: hsla(302, 99%, 33%, 0.4);

  --tbdx-magenta-0: hsl(325, 99%, 96%);
  --tbdx-magenta-1: hsl(333, 99%, 91%);
  --tbdx-magenta-2: hsl(333, 90%, 81%);
  --tbdx-magenta-3: hsl(333, 88%, 70%);
  --tbdx-magenta-4: hsl(333, 87%, 61%);
  --tbdx-magenta-5: hsl(333, 87%, 55%);
  --tbdx-magenta-6: hsl(333, 88%, 52%);
  --tbdx-magenta-7: hsl(332, 93%, 44%);
  --tbdx-magenta-8: hsl(331, 99%, 38%);
  --tbdx-magenta-9: hsl(332, 99%, 33%);

  --tbdx-magenta-0-A4: hsla(325, 99%, 96%, 0.4);
  --tbdx-magenta-1-A4: hsla(333, 99%, 91%, 0.4);
  --tbdx-magenta-2-A4: hsla(333, 90%, 81%, 0.4);
  --tbdx-magenta-3-A4: hsla(333, 88%, 70%, 0.4);
  --tbdx-magenta-4-A4: hsla(333, 87%, 61%, 0.4);
  --tbdx-magenta-5-A4: hsla(333, 87%, 55%, 0.4);
  --tbdx-magenta-6-A4: hsla(333, 88%, 52%, 0.4);
  --tbdx-magenta-7-A4: hsla(332, 93%, 44%, 0.4);
  --tbdx-magenta-8-A4: hsla(331, 99%, 38%, 0.4);
  --tbdx-magenta-9-A4: hsla(332, 99%, 33%, 0.4);

  --tbdx-red-0: hsl(354, 99%, 96%);
  --tbdx-red-1: hsl(357, 91%, 91%);
  --tbdx-red-2: hsl(356, 78%, 81%);
  --tbdx-red-3: hsl(356, 75%, 70%);
  --tbdx-red-4: hsl(357, 75%, 61%);
  --tbdx-red-5: hsl(357, 76%, 55%);
  --tbdx-red-6: hsl(356, 76%, 52%);
  --tbdx-red-7: hsl(356, 77%, 45%);
  --tbdx-red-8: hsl(355, 82%, 39%);
  --tbdx-red-9: hsl(352, 95%, 32%);

  --tbdx-red-0-A4: hsla(354, 99%, 96%, 0.4);
  --tbdx-red-1-A4: hsla(357, 91%, 91%, 0.4);
  --tbdx-red-2-A4: hsla(356, 78%, 81%, 0.4);
  --tbdx-red-3-A4: hsla(356, 75%, 70%, 0.4);
  --tbdx-red-4-A4: hsla(357, 75%, 61%, 0.4);
  --tbdx-red-5-A4: hsla(357, 76%, 55%, 0.4);
  --tbdx-red-6-A4: hsla(356, 76%, 52%, 0.4);
  --tbdx-red-7-A4: hsla(356, 77%, 45%, 0.4);
  --tbdx-red-8-A4: hsla(355, 82%, 39%, 0.4);
  --tbdx-red-9-A4: hsla(352, 95%, 32%, 0.4);
}

[data-prefers-color-scheme='dark'] {
  --tbdx-surface-0: hsl(0, 0%, 06%);
  --tbdx-surface-1: hsl(0, 0%, 11%);
  --tbdx-surface-2: hsl(0, 0%, 16%);
  --tbdx-surface-3: hsl(0, 0%, 21%);
  --tbdx-surface-4: hsl(0, 0%, 25%);
  --tbdx-surface-5: hsl(0, 0%, 31%);
  --tbdx-surface-6: hsl(0, 0%, 35%);
  --tbdx-surface-7: hsl(0, 0%, 40%);
  --tbdx-surface-8: hsl(0, 0%, 45%);
  --tbdx-surface-9: hsl(0, 0%, 50%);

  --tbdx-surface-invert-0: hsl(0, 0%, 98%);
  --tbdx-surface-invert-1: hsl(0, 0%, 93%);
  --tbdx-surface-invert-2: hsl(0, 0%, 87%);
  --tbdx-surface-invert-3: hsl(0, 0%, 82%);
  --tbdx-surface-invert-4: hsl(0, 0%, 77%);
  --tbdx-surface-invert-5: hsl(0, 0%, 71%);
  --tbdx-surface-invert-6: hsl(0, 0%, 66%);
  --tbdx-surface-invert-7: hsl(0, 0%, 61%);
  --tbdx-surface-invert-8: hsl(0, 0%, 56%);
  --tbdx-surface-invert-9: hsl(0, 0%, 50%);
}

[data-prefers-color-scheme='light'] {
  --tbdx-surface-0: hsl(0, 0%, 98%);
  --tbdx-surface-1: hsl(0, 0%, 93%);
  --tbdx-surface-2: hsl(0, 0%, 87%);
  --tbdx-surface-3: hsl(0, 0%, 82%);
  --tbdx-surface-4: hsl(0, 0%, 77%);
  --tbdx-surface-5: hsl(0, 0%, 71%);
  --tbdx-surface-6: hsl(0, 0%, 66%);
  --tbdx-surface-7: hsl(0, 0%, 61%);
  --tbdx-surface-8: hsl(0, 0%, 56%);
  --tbdx-surface-9: hsl(0, 0%, 50%);

  --tbdx-surface-invert-0: hsl(0, 0%, 06%);
  --tbdx-surface-invert-1: hsl(0, 0%, 11%);
  --tbdx-surface-invert-2: hsl(0, 0%, 16%);
  --tbdx-surface-invert-3: hsl(0, 0%, 21%);
  --tbdx-surface-invert-4: hsl(0, 0%, 25%);
  --tbdx-surface-invert-5: hsl(0, 0%, 31%);
  --tbdx-surface-invert-6: hsl(0, 0%, 35%);
  --tbdx-surface-invert-7: hsl(0, 0%, 40%);
  --tbdx-surface-invert-8: hsl(0, 0%, 45%);
  --tbdx-surface-invert-9: hsl(0, 0%, 50%);
}

[data-prefers-color-scheme='dark'],
[data-prefers-color-scheme='light'] {
  :root & {
    color: var(--tbdx-surface-invert-0);
    background-color: var(--tbdx-surface-0);
  }
  html,
  body {
    color: var(--tbdx-surface-invert-0);
    background-color: var(--tbdx-surface-0);
  }

  .Page {
    color: var(--tbdx-surface-1-invert);
    background-color: var(--tbdx-surface-1);
  }

  .tbdx-surface-0 {
    color: var(--tbdx-surface-invert-0);
    background-color: var(--tbdx-surface-0);
  }
  .tbdx-surface-1 {
    color: var(--tbdx-surface-invert-1);
    background-color: var(--tbdx-surface-1);
  }
  .tbdx-surface-2 {
    color: var(--tbdx-surface-invert-2);
    background-color: var(--tbdx-surface-2);
  }
  .tbdx-surface-3 {
    color: var(--tbdx-surface-invert-3);
    background-color: var(--tbdx-surface-3);
  }
  .tbdx-surface-4 {
    color: var(--tbdx-surface-invert-4);
    background-color: var(--tbdx-surface-4);
  }
  .tbdx-surface-5 {
    color: var(--tbdx-surface-invert-5);
    background-color: var(--tbdx-surface-5);
  }
  .tbdx-surface-6 {
    color: var(--tbdx-surface-invert-6);
    background-color: var(--tbdx-surface-6);
  }
  .tbdx-surface-7 {
    color: var(--tbdx-surface-invert-7);
    background-color: var(--tbdx-surface-7);
  }
  .tbdx-surface-8 {
    color: var(--tbdx-surface-invert-8);
    background-color: var(--tbdx-surface-8);
  }
  .tbdx-surface-9 {
    color: var(--tbdx-surface-invert-9);
    background-color: var(--tbdx-surface-9);
  }

  .tbdx-surface-invert-0 {
    color: var(--tbdx-surface-0);
    background-color: var(--tbdx-surface-invert-0);
  }
  .tbdx-surface-invert-1 {
    color: var(--tbdx-surface-1);
    background-color: var(--tbdx-surface-invert-1);
  }
  .tbdx-surface-invert-2 {
    color: var(--tbdx-surface-2);
    background-color: var(--tbdx-surface-invert-2);
  }
  .tbdx-surface-invert-3 {
    color: var(--tbdx-surface-3);
    background-color: var(--tbdx-surface-invert-3);
  }
  .tbdx-surface-invert-4 {
    color: var(--tbdx-surface-4);
    background-color: var(--tbdx-surface-invert-4);
  }
  .tbdx-surface-invert-5 {
    color: var(--tbdx-surface-5);
    background-color: var(--tbdx-surface-invert-5);
  }
  .tbdx-surface-invert-6 {
    color: var(--tbdx-surface-6);
    background-color: var(--tbdx-surface-invert-6);
  }
  .tbdx-surface-invert-7 {
    color: var(--tbdx-surface-7);
    background-color: var(--tbdx-surface-invert-7);
  }
  .tbdx-surface-invert-8 {
    color: var(--tbdx-surface-8);
    background-color: var(--tbdx-surface-invert-8);
  }
  .tbdx-surface-invert-9 {
    color: var(--tbdx-surface-9);
    background-color: var(--tbdx-surface-invert-9);
  }

  /** ===================================== ORANGE */

  .tbdx-orange-0 {
    color: black;
    background-color: var(--tbdx-orange-0);
  }
  .tbdx-orange-1 {
    color: black;
    background-color: var(--tbdx-orange-1);
  }
  .tbdx-orange-2 {
    color: black;
    background-color: var(--tbdx-orange-2);
  }
  .tbdx-orange-3 {
    color: black;
    background-color: var(--tbdx-orange-3);
  }
  .tbdx-orange-4 {
    color: black;
    background-color: var(--tbdx-orange-4);
  }
  .tbdx-orange-5 {
    color: white;
    background-color: var(--tbdx-orange-5);
  }
  .tbdx-orange-6 {
    color: white;
    background-color: var(--tbdx-orange-6);
  }
  .tbdx-orange-7 {
    color: white;
    background-color: var(--tbdx-orange-7);
  }
  .tbdx-orange-8 {
    color: white;
    background-color: var(--tbdx-orange-8);
  }
  .tbdx-orange-9 {
    color: white;
    background-color: var(--tbdx-orange-9);
  }

  .tbdx-orange-0-A4 {
    color: var(--tbdx-orange-0);
    background-color: var(--tbdx-orange-0-A4);
  }
  .tbdx-orange-1-A4 {
    color: var(--tbdx-orange-1);
    background-color: var(--tbdx-orange-1-A4);
  }
  .tbdx-orange-2-A4 {
    color: var(--tbdx-orange-2);
    background-color: var(--tbdx-orange-2-A4);
  }
  .tbdx-orange-3-A4 {
    color: var(--tbdx-orange-3);
    background-color: var(--tbdx-orange-3-A4);
  }
  .tbdx-orange-4-A4 {
    color: var(--tbdx-orange-4);
    background-color: var(--tbdx-orange-4-A4);
  }
  .tbdx-orange-5-A4 {
    color: var(--tbdx-orange-5);
    background-color: var(--tbdx-orange-5-A4);
  }
  .tbdx-orange-6-A4 {
    color: var(--tbdx-orange-6);
    background-color: var(--tbdx-orange-6-A4);
  }
  .tbdx-orange-7-A4 {
    color: var(--tbdx-orange-7);
    background-color: var(--tbdx-orange-7-A4);
  }
  .tbdx-orange-8-A4 {
    color: var(--tbdx-orange-8);
    background-color: var(--tbdx-orange-8-A4);
  }
  .tbdx-orange-9-A4 {
    color: var(--tbdx-orange-9);
    background-color: var(--tbdx-orange-9-A4);
  }

  /** ===================================== YELLOW */

  .tbdx-yellow-0 {
    color: black;
    background-color: var(--tbdx-yellow-0);
  }
  .tbdx-yellow-1 {
    color: black;
    background-color: var(--tbdx-yellow-1);
  }
  .tbdx-yellow-2 {
    color: black;
    background-color: var(--tbdx-yellow-2);
  }
  .tbdx-yellow-3 {
    color: black;
    background-color: var(--tbdx-yellow-3);
  }
  .tbdx-yellow-4 {
    color: black;
    background-color: var(--tbdx-yellow-4);
  }
  .tbdx-yellow-5 {
    color: black;
    background-color: var(--tbdx-yellow-5);
  }
  .tbdx-yellow-6 {
    color: black;
    background-color: var(--tbdx-yellow-6);
  }
  .tbdx-yellow-7 {
    color: white;
    background-color: var(--tbdx-yellow-7);
  }
  .tbdx-yellow-8 {
    color: white;
    background-color: var(--tbdx-yellow-8);
  }
  .tbdx-yellow-9 {
    color: white;
    background-color: var(--tbdx-yellow-9);
  }

  .tbdx-yellow-0-A4 {
    color: var(--tbdx-yellow-0);
    background-color: var(--tbdx-yellow-0-A4);
  }
  .tbdx-yellow-1-A4 {
    color: var(--tbdx-yellow-1);
    background-color: var(--tbdx-yellow-1-A4);
  }
  .tbdx-yellow-2-A4 {
    color: var(--tbdx-yellow-2);
    background-color: var(--tbdx-yellow-2-A4);
  }
  .tbdx-yellow-3-A4 {
    color: var(--tbdx-yellow-3);
    background-color: var(--tbdx-yellow-3-A4);
  }
  .tbdx-yellow-4-A4 {
    color: var(--tbdx-yellow-4);
    background-color: var(--tbdx-yellow-4-A4);
  }
  .tbdx-yellow-5-A4 {
    color: var(--tbdx-yellow-5);
    background-color: var(--tbdx-yellow-5-A4);
  }
  .tbdx-yellow-6-A4 {
    color: var(--tbdx-yellow-6);
    background-color: var(--tbdx-yellow-6-A4);
  }
  .tbdx-yellow-7-A4 {
    color: var(--tbdx-yellow-7);
    background-color: var(--tbdx-yellow-7-A4);
  }
  .tbdx-yellow-8-A4 {
    color: var(--tbdx-yellow-8);
    background-color: var(--tbdx-yellow-8-A4);
  }
  .tbdx-yellow-9-A4 {
    color: var(--tbdx-yellow-9);
    background-color: var(--tbdx-yellow-9-A4);
  }

  /** ===================================== GREEN */

  .tbdx-green-0 {
    color: black;
    background-color: var(--tbdx-green-0);
  }
  .tbdx-green-1 {
    color: black;
    background-color: var(--tbdx-green-1);
  }
  .tbdx-green-2 {
    color: black;
    background-color: var(--tbdx-green-2);
  }
  .tbdx-green-3 {
    color: black;
    background-color: var(--tbdx-green-3);
  }
  .tbdx-green-4 {
    color: black;
    background-color: var(--tbdx-green-4);
  }
  .tbdx-green-5 {
    color: black;
    background-color: var(--tbdx-green-5);
  }
  .tbdx-green-6 {
    color: black;
    background-color: var(--tbdx-green-6);
  }
  .tbdx-green-7 {
    color: white;
    background-color: var(--tbdx-green-7);
  }
  .tbdx-green-8 {
    color: white;
    background-color: var(--tbdx-green-8);
  }
  .tbdx-green-9 {
    color: white;
    background-color: var(--tbdx-green-9);
  }

  .tbdx-green-0-A4 {
    color: var(--tbdx-green-0);
    background-color: var(--tbdx-green-0-A4);
  }
  .tbdx-green-1-A4 {
    color: var(--tbdx-green-1);
    background-color: var(--tbdx-green-1-A4);
  }
  .tbdx-green-2-A4 {
    color: var(--tbdx-green-2);
    background-color: var(--tbdx-green-2-A4);
  }
  .tbdx-green-3-A4 {
    color: var(--tbdx-green-3);
    background-color: var(--tbdx-green-3-A4);
  }
  .tbdx-green-4-A4 {
    color: var(--tbdx-green-4);
    background-color: var(--tbdx-green-4-A4);
  }
  .tbdx-green-5-A4 {
    color: var(--tbdx-green-5);
    background-color: var(--tbdx-green-5-A4);
  }
  .tbdx-green-6-A4 {
    color: var(--tbdx-green-6);
    background-color: var(--tbdx-green-6-A4);
  }
  .tbdx-green-7-A4 {
    color: var(--tbdx-green-7);
    background-color: var(--tbdx-green-7-A4);
  }
  .tbdx-green-8-A4 {
    color: var(--tbdx-green-8);
    background-color: var(--tbdx-green-8-A4);
  }
  .tbdx-green-9-A4 {
    color: var(--tbdx-green-9);
    background-color: var(--tbdx-green-9-A4);
  }

  /** ===================================== CYAN */

  .tbdx-cyan-0 {
    color: black;
    background-color: var(--tbdx-cyan-0);
  }
  .tbdx-cyan-1 {
    color: black;
    background-color: var(--tbdx-cyan-1);
  }
  .tbdx-cyan-2 {
    color: black;
    background-color: var(--tbdx-cyan-2);
  }
  .tbdx-cyan-3 {
    color: black;
    background-color: var(--tbdx-cyan-3);
  }
  .tbdx-cyan-4 {
    color: black;
    background-color: var(--tbdx-cyan-4);
  }
  .tbdx-cyan-5 {
    color: black;
    background-color: var(--tbdx-cyan-5);
  }
  .tbdx-cyan-6 {
    color: black;
    background-color: var(--tbdx-cyan-6);
  }
  .tbdx-cyan-7 {
    color: white;
    background-color: var(--tbdx-cyan-7);
  }
  .tbdx-cyan-8 {
    color: white;
    background-color: var(--tbdx-cyan-8);
  }
  .tbdx-cyan-9 {
    color: white;
    background-color: var(--tbdx-cyan-9);
  }

  .tbdx-cyan-0-A4 {
    color: var(--tbdx-cyan-0);
    background-color: var(--tbdx-cyan-0-A4);
  }
  .tbdx-cyan-1-A4 {
    color: var(--tbdx-cyan-1);
    background-color: var(--tbdx-cyan-1-A4);
  }
  .tbdx-cyan-2-A4 {
    color: var(--tbdx-cyan-2);
    background-color: var(--tbdx-cyan-2-A4);
  }
  .tbdx-cyan-3-A4 {
    color: var(--tbdx-cyan-3);
    background-color: var(--tbdx-cyan-3-A4);
  }
  .tbdx-cyan-4-A4 {
    color: var(--tbdx-cyan-4);
    background-color: var(--tbdx-cyan-4-A4);
  }
  .tbdx-cyan-5-A4 {
    color: var(--tbdx-cyan-5);
    background-color: var(--tbdx-cyan-5-A4);
  }
  .tbdx-cyan-6-A4 {
    color: var(--tbdx-cyan-6);
    background-color: var(--tbdx-cyan-6-A4);
  }
  .tbdx-cyan-7-A4 {
    color: var(--tbdx-cyan-7);
    background-color: var(--tbdx-cyan-7-A4);
  }
  .tbdx-cyan-8-A4 {
    color: var(--tbdx-cyan-8);
    background-color: var(--tbdx-cyan-8-A4);
  }
  .tbdx-cyan-9-A4 {
    color: var(--tbdx-cyan-9);
    background-color: var(--tbdx-cyan-9-A4);
  }

  /** ===================================== BLUE */

  .tbdx-blue-0 {
    color: black;
    background-color: var(--tbdx-blue-0);
  }
  .tbdx-blue-1 {
    color: black;
    background-color: var(--tbdx-blue-1);
  }
  .tbdx-blue-2 {
    color: black;
    background-color: var(--tbdx-blue-2);
  }
  .tbdx-blue-3 {
    color: black;
    background-color: var(--tbdx-blue-3);
  }
  .tbdx-blue-4 {
    color: white;
    background-color: var(--tbdx-blue-4);
  }
  .tbdx-blue-5 {
    color: white;
    background-color: var(--tbdx-blue-5);
  }
  .tbdx-blue-6 {
    color: white;
    background-color: var(--tbdx-blue-6);
  }
  .tbdx-blue-7 {
    color: white;
    background-color: var(--tbdx-blue-7);
  }
  .tbdx-blue-8 {
    color: white;
    background-color: var(--tbdx-blue-8);
  }
  .tbdx-blue-9 {
    color: white;
    background-color: var(--tbdx-blue-9);
  }

  .tbdx-blue-0-A4 {
    color: var(--tbdx-blue-0);
    background-color: var(--tbdx-blue-0-A4);
  }
  .tbdx-blue-1-A4 {
    color: var(--tbdx-blue-1);
    background-color: var(--tbdx-blue-1-A4);
  }
  .tbdx-blue-2-A4 {
    color: var(--tbdx-blue-2);
    background-color: var(--tbdx-blue-2-A4);
  }
  .tbdx-blue-3-A4 {
    color: var(--tbdx-blue-3);
    background-color: var(--tbdx-blue-3-A4);
  }
  .tbdx-blue-4-A4 {
    color: var(--tbdx-blue-4);
    background-color: var(--tbdx-blue-4-A4);
  }
  .tbdx-blue-5-A4 {
    color: var(--tbdx-blue-5);
    background-color: var(--tbdx-blue-5-A4);
  }
  .tbdx-blue-6-A4 {
    color: var(--tbdx-blue-6);
    background-color: var(--tbdx-blue-6-A4);
  }
  .tbdx-blue-7-A4 {
    color: var(--tbdx-blue-7);
    background-color: var(--tbdx-blue-7-A4);
  }
  .tbdx-blue-8-A4 {
    color: var(--tbdx-blue-8);
    background-color: var(--tbdx-blue-8-A4);
  }
  .tbdx-blue-9-A4 {
    color: var(--tbdx-blue-9);
    background-color: var(--tbdx-blue-9-A4);
  }

  /** ===================================== INDIGO */

  .tbdx-indigo-0 {
    color: black;
    background-color: var(--tbdx-indigo-0);
  }
  .tbdx-indigo-1 {
    color: black;
    background-color: var(--tbdx-indigo-1);
  }
  .tbdx-indigo-2 {
    color: black;
    background-color: var(--tbdx-indigo-2);
  }
  .tbdx-indigo-3 {
    color: black;
    background-color: var(--tbdx-indigo-3);
  }
  .tbdx-indigo-4 {
    color: white;
    background-color: var(--tbdx-indigo-4);
  }
  .tbdx-indigo-5 {
    color: white;
    background-color: var(--tbdx-indigo-5);
  }
  .tbdx-indigo-6 {
    color: white;
    background-color: var(--tbdx-indigo-6);
  }
  .tbdx-indigo-7 {
    color: white;
    background-color: var(--tbdx-indigo-7);
  }
  .tbdx-indigo-8 {
    color: white;
    background-color: var(--tbdx-indigo-8);
  }
  .tbdx-indigo-9 {
    color: white;
    background-color: var(--tbdx-indigo-9);
  }

  .tbdx-indigo-0-A4 {
    color: var(--tbdx-indigo-0);
    background-color: var(--tbdx-indigo-0-A4);
  }
  .tbdx-indigo-1-A4 {
    color: var(--tbdx-indigo-1);
    background-color: var(--tbdx-indigo-1-A4);
  }
  .tbdx-indigo-2-A4 {
    color: var(--tbdx-indigo-2);
    background-color: var(--tbdx-indigo-2-A4);
  }
  .tbdx-indigo-3-A4 {
    color: var(--tbdx-indigo-3);
    background-color: var(--tbdx-indigo-3-A4);
  }
  .tbdx-indigo-4-A4 {
    color: var(--tbdx-indigo-4);
    background-color: var(--tbdx-indigo-4-A4);
  }
  .tbdx-indigo-5-A4 {
    color: var(--tbdx-indigo-5);
    background-color: var(--tbdx-indigo-5-A4);
  }
  .tbdx-indigo-6-A4 {
    color: var(--tbdx-indigo-6);
    background-color: var(--tbdx-indigo-6-A4);
  }
  .tbdx-indigo-7-A4 {
    color: var(--tbdx-indigo-7);
    background-color: var(--tbdx-indigo-7-A4);
  }
  .tbdx-indigo-8-A4 {
    color: var(--tbdx-indigo-8);
    background-color: var(--tbdx-indigo-8-A4);
  }
  .tbdx-indigo-9-A4 {
    color: var(--tbdx-indigo-9);
    background-color: var(--tbdx-indigo-9-A4);
  }

  /** ===================================== PURPLE */

  .tbdx-purple-0 {
    color: black;
    background-color: var(--tbdx-purple-0);
  }
  .tbdx-purple-1 {
    color: black;
    background-color: var(--tbdx-purple-1);
  }
  .tbdx-purple-2 {
    color: black;
    background-color: var(--tbdx-purple-2);
  }
  .tbdx-purple-3 {
    color: black;
    background-color: var(--tbdx-purple-3);
  }
  .tbdx-purple-4 {
    color: white;
    background-color: var(--tbdx-purple-4);
  }
  .tbdx-purple-5 {
    color: white;
    background-color: var(--tbdx-purple-5);
  }
  .tbdx-purple-6 {
    color: white;
    background-color: var(--tbdx-purple-6);
  }
  .tbdx-purple-7 {
    color: white;
    background-color: var(--tbdx-purple-7);
  }
  .tbdx-purple-8 {
    color: white;
    background-color: var(--tbdx-purple-8);
  }
  .tbdx-purple-9 {
    color: white;
    background-color: var(--tbdx-purple-9);
  }

  .tbdx-purple-0-A4 {
    color: var(--tbdx-purple-0);
    background-color: var(--tbdx-purple-0-A4);
  }
  .tbdx-purple-1-A4 {
    color: var(--tbdx-purple-1);
    background-color: var(--tbdx-purple-1-A4);
  }
  .tbdx-purple-2-A4 {
    color: var(--tbdx-purple-2);
    background-color: var(--tbdx-purple-2-A4);
  }
  .tbdx-purple-3-A4 {
    color: var(--tbdx-purple-3);
    background-color: var(--tbdx-purple-3-A4);
  }
  .tbdx-purple-4-A4 {
    color: var(--tbdx-purple-4);
    background-color: var(--tbdx-purple-4-A4);
  }
  .tbdx-purple-5-A4 {
    color: var(--tbdx-purple-5);
    background-color: var(--tbdx-purple-5-A4);
  }
  .tbdx-purple-6-A4 {
    color: var(--tbdx-purple-6);
    background-color: var(--tbdx-purple-6-A4);
  }
  .tbdx-purple-7-A4 {
    color: var(--tbdx-purple-7);
    background-color: var(--tbdx-purple-7-A4);
  }
  .tbdx-purple-8-A4 {
    color: var(--tbdx-purple-8);
    background-color: var(--tbdx-purple-8-A4);
  }
  .tbdx-purple-9-A4 {
    color: var(--tbdx-purple-9);
    background-color: var(--tbdx-purple-9-A4);
  }

  /** ===================================== VIOLET */

  .tbdx-violet-0 {
    color: black;
    background-color: var(--tbdx-violet-0);
  }
  .tbdx-violet-1 {
    color: black;
    background-color: var(--tbdx-violet-1);
  }
  .tbdx-violet-2 {
    color: black;
    background-color: var(--tbdx-violet-2);
  }
  .tbdx-violet-3 {
    color: black;
    background-color: var(--tbdx-violet-3);
  }
  .tbdx-violet-4 {
    color: white;
    background-color: var(--tbdx-violet-4);
  }
  .tbdx-violet-5 {
    color: white;
    background-color: var(--tbdx-violet-5);
  }
  .tbdx-violet-6 {
    color: white;
    background-color: var(--tbdx-violet-6);
  }
  .tbdx-violet-7 {
    color: white;
    background-color: var(--tbdx-violet-7);
  }
  .tbdx-violet-8 {
    color: white;
    background-color: var(--tbdx-violet-8);
  }
  .tbdx-violet-9 {
    color: white;
    background-color: var(--tbdx-violet-9);
  }

  .tbdx-violet-0-A4 {
    color: var(--tbdx-violet-0);
    background-color: var(--tbdx-violet-0-A4);
  }
  .tbdx-violet-1-A4 {
    color: var(--tbdx-violet-1);
    background-color: var(--tbdx-violet-1-A4);
  }
  .tbdx-violet-2-A4 {
    color: var(--tbdx-violet-2);
    background-color: var(--tbdx-violet-2-A4);
  }
  .tbdx-violet-3-A4 {
    color: var(--tbdx-violet-3);
    background-color: var(--tbdx-violet-3-A4);
  }
  .tbdx-violet-4-A4 {
    color: var(--tbdx-violet-4);
    background-color: var(--tbdx-violet-4-A4);
  }
  .tbdx-violet-5-A4 {
    color: var(--tbdx-violet-5);
    background-color: var(--tbdx-violet-5-A4);
  }
  .tbdx-violet-6-A4 {
    color: var(--tbdx-violet-6);
    background-color: var(--tbdx-violet-6-A4);
  }
  .tbdx-violet-7-A4 {
    color: var(--tbdx-violet-7);
    background-color: var(--tbdx-violet-7-A4);
  }
  .tbdx-violet-8-A4 {
    color: var(--tbdx-violet-8);
    background-color: var(--tbdx-violet-8-A4);
  }
  .tbdx-violet-9-A4 {
    color: var(--tbdx-violet-9);
    background-color: var(--tbdx-violet-9-A4);
  }

  /** ===================================== PINK */

  .tbdx-pink-0 {
    color: black;
    background-color: var(--tbdx-pink-0);
  }
  .tbdx-pink-1 {
    color: black;
    background-color: var(--tbdx-pink-1);
  }
  .tbdx-pink-2 {
    color: black;
    background-color: var(--tbdx-pink-2);
  }
  .tbdx-pink-3 {
    color: black;
    background-color: var(--tbdx-pink-3);
  }
  .tbdx-pink-4 {
    color: white;
    background-color: var(--tbdx-pink-4);
  }
  .tbdx-pink-5 {
    color: white;
    background-color: var(--tbdx-pink-5);
  }
  .tbdx-pink-6 {
    color: white;
    background-color: var(--tbdx-pink-6);
  }
  .tbdx-pink-7 {
    color: white;
    background-color: var(--tbdx-pink-7);
  }
  .tbdx-pink-8 {
    color: white;
    background-color: var(--tbdx-pink-8);
  }
  .tbdx-pink-9 {
    color: white;
    background-color: var(--tbdx-pink-9);
  }

  .tbdx-pink-0-A4 {
    color: var(--tbdx-pink-0);
    background-color: var(--tbdx-pink-0-A4);
  }
  .tbdx-pink-1-A4 {
    color: var(--tbdx-pink-1);
    background-color: var(--tbdx-pink-1-A4);
  }
  .tbdx-pink-2-A4 {
    color: var(--tbdx-pink-2);
    background-color: var(--tbdx-pink-2-A4);
  }
  .tbdx-pink-3-A4 {
    color: var(--tbdx-pink-3);
    background-color: var(--tbdx-pink-3-A4);
  }
  .tbdx-pink-4-A4 {
    color: var(--tbdx-pink-4);
    background-color: var(--tbdx-pink-4-A4);
  }
  .tbdx-pink-5-A4 {
    color: var(--tbdx-pink-5);
    background-color: var(--tbdx-pink-5-A4);
  }
  .tbdx-pink-6-A4 {
    color: var(--tbdx-pink-6);
    background-color: var(--tbdx-pink-6-A4);
  }
  .tbdx-pink-7-A4 {
    color: var(--tbdx-pink-7);
    background-color: var(--tbdx-pink-7-A4);
  }
  .tbdx-pink-8-A4 {
    color: var(--tbdx-pink-8);
    background-color: var(--tbdx-pink-8-A4);
  }
  .tbdx-pink-9-A4 {
    color: var(--tbdx-pink-9);
    background-color: var(--tbdx-pink-9-A4);
  }

  /** ===================================== MAGENTA */

  .tbdx-magenta-0 {
    color: black;
    background-color: var(--tbdx-magenta-0);
  }
  .tbdx-magenta-1 {
    color: black;
    background-color: var(--tbdx-magenta-1);
  }
  .tbdx-magenta-2 {
    color: black;
    background-color: var(--tbdx-magenta-2);
  }
  .tbdx-magenta-3 {
    color: black;
    background-color: var(--tbdx-magenta-3);
  }
  .tbdx-magenta-4 {
    color: white;
    background-color: var(--tbdx-magenta-4);
  }
  .tbdx-magenta-5 {
    color: white;
    background-color: var(--tbdx-magenta-5);
  }
  .tbdx-magenta-6 {
    color: white;
    background-color: var(--tbdx-magenta-6);
  }
  .tbdx-magenta-7 {
    color: white;
    background-color: var(--tbdx-magenta-7);
  }
  .tbdx-magenta-8 {
    color: white;
    background-color: var(--tbdx-magenta-8);
  }
  .tbdx-magenta-9 {
    color: white;
    background-color: var(--tbdx-magenta-9);
  }

  .tbdx-magenta-0-A4 {
    color: var(--tbdx-magenta-0);
    background-color: var(--tbdx-magenta-0-A4);
  }
  .tbdx-magenta-1-A4 {
    color: var(--tbdx-magenta-1);
    background-color: var(--tbdx-magenta-1-A4);
  }
  .tbdx-magenta-2-A4 {
    color: var(--tbdx-magenta-2);
    background-color: var(--tbdx-magenta-2-A4);
  }
  .tbdx-magenta-3-A4 {
    color: var(--tbdx-magenta-3);
    background-color: var(--tbdx-magenta-3-A4);
  }
  .tbdx-magenta-4-A4 {
    color: var(--tbdx-magenta-4);
    background-color: var(--tbdx-magenta-4-A4);
  }
  .tbdx-magenta-5-A4 {
    color: var(--tbdx-magenta-5);
    background-color: var(--tbdx-magenta-5-A4);
  }
  .tbdx-magenta-6-A4 {
    color: var(--tbdx-magenta-6);
    background-color: var(--tbdx-magenta-6-A4);
  }
  .tbdx-magenta-7-A4 {
    color: var(--tbdx-magenta-7);
    background-color: var(--tbdx-magenta-7-A4);
  }
  .tbdx-magenta-8-A4 {
    color: var(--tbdx-magenta-8);
    background-color: var(--tbdx-magenta-8-A4);
  }
  .tbdx-magenta-9-A4 {
    color: var(--tbdx-magenta-9);
    background-color: var(--tbdx-magenta-9-A4);
  }

  /** ===================================== RED */

  .tbdx-red-0 {
    color: black;
    background-color: var(--tbdx-red-0);
  }
  .tbdx-red-1 {
    color: black;
    background-color: var(--tbdx-red-1);
  }
  .tbdx-red-2 {
    color: black;
    background-color: var(--tbdx-red-2);
  }
  .tbdx-red-3 {
    color: black;
    background-color: var(--tbdx-red-3);
  }
  .tbdx-red-4 {
    color: white;
    background-color: var(--tbdx-red-4);
  }
  .tbdx-red-5 {
    color: white;
    background-color: var(--tbdx-red-5);
  }
  .tbdx-red-6 {
    color: white;
    background-color: var(--tbdx-red-6);
  }
  .tbdx-red-7 {
    color: white;
    background-color: var(--tbdx-red-7);
  }
  .tbdx-red-8 {
    color: white;
    background-color: var(--tbdx-red-8);
  }
  .tbdx-red-9 {
    color: white;
    background-color: var(--tbdx-red-9);
  }

  .tbdx-red-0-A4 {
    color: var(--tbdx-red-0);
    background-color: var(--tbdx-red-0-A4);
  }
  .tbdx-red-1-A4 {
    color: var(--tbdx-red-1);
    background-color: var(--tbdx-red-1-A4);
  }
  .tbdx-red-2-A4 {
    color: var(--tbdx-red-2);
    background-color: var(--tbdx-red-2-A4);
  }
  .tbdx-red-3-A4 {
    color: var(--tbdx-red-3);
    background-color: var(--tbdx-red-3-A4);
  }
  .tbdx-red-4-A4 {
    color: var(--tbdx-red-4);
    background-color: var(--tbdx-red-4-A4);
  }
  .tbdx-red-5-A4 {
    color: var(--tbdx-red-5);
    background-color: var(--tbdx-red-5-A4);
  }
  .tbdx-red-6-A4 {
    color: var(--tbdx-red-6);
    background-color: var(--tbdx-red-6-A4);
  }
  .tbdx-red-7-A4 {
    color: var(--tbdx-red-7);
    background-color: var(--tbdx-red-7-A4);
  }
  .tbdx-red-8-A4 {
    color: var(--tbdx-red-8);
    background-color: var(--tbdx-red-8-A4);
  }
  .tbdx-red-9-A4 {
    color: var(--tbdx-red-9);
    background-color: var(--tbdx-red-9-A4);
  }
}
