.Caption--1 {
  font-size: var(--font-size-01);
}
.Caption--2 {
  font-size: var(--font-size-02);
}

.Text--1 {
  font-size: var(--font-size-04);
}
.Text--2 {
  font-size: var(--font-size-05);
}

.Title--h6 {
  font-size: 1rem;
}
.Title--h5 {
  font-size: 1rem;
}
.Title--h4 {
  font-size: 1rem;
}
.Title--h3 {
  font-size: 1rem;
}
.Title--h2 {
  font-size: 1rem;
}
.Title--h1 {
  font-size: 1rem;
}
